<div>
  <dt><%= Org::Organ.human_attribute_name(:name) %></dt>
  <dt><%= current_organ.name %></dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:code) %></dt>
  <dt><%= current_organ.code %></dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:area_id) %></dt>
  <dt><%= current_organ.area&.full_name %></dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:limit_wechat) %></dt>
  <dt><%= current_organ.limit_wechat %></dd>
</div>
