<div class="weui-panel is-box is-borderless mt-3">
  <div class="weui-panel__bd">
    <%= render 'profile_item' %>
  </div>
</div>

<%= render 'org_nav' %>
<%= render 'crm_nav' %>
<%= render 'finance_nav' if defined? RailsFinance %>
<%= render 'powered_by' %>
