<div class="weui-panel is-borderless">
  <div class="weui-panel__bd">
    <div class="pr-4">
      <%= render 'profile_item' %>
    </div>
  </div>
</div>

<%= render 'org_nav' %>
<%= render 'crm_nav' %>
<%= render 'bench_nav' %>
<%= render 'printer' %>
