<div class="weui-panel is-borderless">
  <div class="weui-panel__bd">
    <%= render 'profile_item' %>
  </div>
</div>

<%= render 'org_nav' %>
<%= render 'crm_nav' %>
<%= render 'bench_nav' %>
<%= render 'space_nav' %>
<%= render 'printer' %>
