<div class="columns">
  <div class="column">
    <%= render 'factory_admin' %>
    <%= render 'trade_admin' %>
    <%= render 'wechat_admin' %>
    <%= render 'crm_admin' %>
    <%= render 'finance_admin' %>
    <%= render 'profile_admin' %>
    <%= render 'markdown_admin' %>
  </div>
  <div class="column">
    <div class="box">
      <%= render partial: 'profile' %>
    </div>
  </div>
</div>
