<td><%= model.duties %></td>
<td><%= model.requirements %></td>
<td><%= model.advanced_requirements %></td>
<td><%= model.english_requirement %></td>
<td><%= model.degree_requirement %></td>
<td><%= model.salary_min %></td>
<td><%= model.salary_max %></td>
