<div class="box is-padding-less">
  <%= render 'profile_item' %>
</div>

<%= render 'tip' %>

<% if @created_organs.present? %>
<div class="box is-padding-less">
  <div class="box-header">我创建的</div>
  <div id="tbody" class="box-body">
    <%= render partial: 'index_item', layout: 'index_item_actions', collection: @created_organs, as: :model %>
  </div>
</div>
<% end %>

<% @accounts.each do |account, organs| %>
  <% if organs.present? %>
  <div class="box is-padding-less">
    <div class="box-body">
      <span>我加入的</span>
      <span class="text-grey size-7"><%= account.identity %></span>
    </div>
    <div class="box-body">
      <%= render partial: 'index_item', layout: 'index_item_actions', collection: organs, as: :model, locals: { account: account } %>
    </div>
  </div>
  <% end %>
<% end %>

<%= render 'new_card' %>
