<div class="box is-padding-less mx-3">
  <%= render 'profile_item' %>
</div>

<% if @created_organs.present? %>
<div class="box is-padding-less mx-3">
  <div class="box-header">我创建的</div>
  <div id="tbody" class="box-body">
    <%= render partial: 'index_item', layout: 'index_item_actions', collection: @created_organs, as: :model %>
  </div>
</div>
<% end %>

<% @accounts.each do |account, organs| %>
  <% if organs.present? %>
  <div class="box is-padding-less mx-3">
    <div class="box-body">
      <span>我加入的</span>
      <span class="color-grey size-7"><%= account.identity %></span>
    </div>
    <div class="box-body">
      <%= render partial: 'index_item', layout: 'index_item_actions', collection: organs, as: :model %>
    </div>
  </div>
  <% end %>
<% end %>

<div class="box mx-3 flex justify-content-space-around">
<% @roles.each do |role| %>
  <%= button_to({ controller: 'organs', action: 'new', role_id: role.id }, class: 'button is-fullwidth is-primary') do %>
    <i class="fa-solid fa-plus"></i>
    <span class="pl-1"><%= role.tip %></span>
  <% end %>
<% end %>
</div>
