<div class="weui-panel is-box is-borderless mt-2">
  <div class="weui-panel__bd">
    <%= render 'profile_item' %>
  </div>
</div>

<% if @created_organs.present? %>
<div class="weui-panel is-box">
  <div class="weui-panel__hd">我创建的</div>
  <div class="weui-panel__bd">
    <%= render partial: 'organ', collection: @created_organs, as: :organ %>
  </div>
</div>
<% end %>

<% @accounts.each do |account, organs| %>
  <% if organs.present? %>
  <div class="weui-panel is-box">
    <div class="weui-panel__hd has-block-space-between">
      <span>我加入的</span>
      <span class="has-text-grey size-7"><%= account.identity %></span>
    </div>
    <div class="weui-panel__bd">
      <%= render partial: 'organ', collection: organs, as: :organ %>
    </div>
  </div>
  <% end %>
<% end %>

<div class="weui-panel is-box">
  <div class="weui-panel__bd">
  <% @roles.each do |role| %>
    <%= link_to({ controller: 'organs', action: 'new', role_id: role.id }, class: 'weui-cell weui-cell_access') do %>
      <i class="fa-solid fa-plus"></i>
      <span class="pl-1"><%= role.tip %></span>
    <% end %>
  <% end %>
  </div>
</div>
