<div class="hero-body">
  <% @organs.each do |organ, members| %>
    <div class="box">
      <div class="media is-middle">
        <div class="media-left">
          <%= image_tag organ.logo.variant(resize_to_limit: [150, 150]), class: 'image is-48x48' if organ.logo.attached? %>
        </div>
        <div class="media-content">
          <strong><%= organ.name %></strong>
        </div>
        <div class="media-right">
          <%= link_to '删除', my_organ_path(organ), method: :delete, data: { confirm: '确认删除？' } %>
        </div>
      </div>

      <% members.each do |member| %>
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <%= image_tag member.avatar.variant(resize_to_limit: [150, 150]), class: 'image is-48x48' if member.avatar.attached? %>
              </div>
              <div class="media-content">
                <span><%= member.departments.first&.full_name %></span>
                <span><%= member.name %></span>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <%= link_to '前台', my_root_url(subdomain: member.organ.subdomain), class: 'card-footer-item' %>
            <%= link_to '后台', our_root_url(subdomain: member.organ.subdomain), class: 'card-footer-item' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="media">
    <div class="media-content">
      <%= link_to new_my_member_path, remote: true do %>
        <i class="fas fa-plus"></i><span><%= t('org.my.organs.new.title') %></span>
      <% end %>
    </div>
  </div>
</div>
