<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit.title'), edit_admin_member_department_path(@member_department), class: 'ui mini blue right floated button' %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-text-right"><%= Org::MemberDepartment.human_attribute_name(:office_id) %></td>
      <td><%= @member_department.office_id %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Org::MemberDepartment.human_attribute_name(:job_title_id) %></td>
      <td><%= @member_department.job_title_id %></td>
    </tr>
  </tbody>
</table>
