<%= form_with model: @resign, url: my_resign_path, local: true do |f| %>
  <%= render 'error_messages', target: @resign %>
  <div class="inline required fields">
    <label class="six wide field">Reason: </label>
  </div>
  <% ResignReason.roots.each do |root| %>
    <%= f.collection_check_boxes :resign_reason_ids, root.children, :id, :name, label: root.name %>
  <% end %>
  <%= f.date_field :leave_on, required: true %>
  <%= f.text_area :reason_note, required: true %>
  <%= f.submit %>
<% end %>
