<%= link_to({ controller: 'trade/in/promote_goods' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-tags text-primary"></i>
    <span><%= t('trade.in.promote_goods.index.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<%= link_to({ controller: 'trade/me/items' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-list text-primary"></i>
    <span><%= t('trade.me.items.index.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<%= link_to({ controller: 'org/me/members', action: 'qrcodes' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-qrcode text-primary"></i>
    <span><%= t('org.me.members.qrcodes.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
