<div class="weui-panel is-borderless">
  <div class="weui-panel__bd">
    <%= render 'profile_item' %>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__hd"><%= t('.title') %></div>
  <div class="weui-panel__bd">
    <%= render partial: 'organ', collection: @organs, as: :organ %>
  </div>
</div>

<div class="weui-panel">
  <div class="weui-panel__bd">
  <% @roles.each do |role| %>
    <%= link_to({ controller: 'org/board/organs', action: 'new', role_id: role.id }, class: 'media') do %>
      <i class="fa-solid fa-plus"></i>
      <span class="pl-1"><%= role.tip %></span>
    <% end %>
  <% end %>
  </div>
</div>
