<div class="ui modal" id="modal">
  <i class="fas fa-times close icon"></i>
  <div class="ui header">
    <%= t('.edit') %>
  </div>

  <div class="content">
    <%= form_with model: @organ, url: panel_organ_path do |f| %>
      <%= render 'shared/error_messages', target: @organ %>
      <%= f.text_field :name, required: true %>
      <%= f.text_field :name_short %>
      <%= f.text_field :organ_uuid %>
      <%= f.file_field :logo %>
      <%= render partial: 'nodes/outer_select', locals: { f: f, outer: 'area' } %>
      <%= f.text_area :address %>
      <%= f.time_zone_select :timezone %>
      <%= f.select :locale, options_for_select(User.options_i18n(:locale), @organ.locale) %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
