<th>
  <%= Organ.human_attribute_name(:name) %>(<%= Organ.human_attribute_name(:name_short) %>)
</th>
<th><%= Organ.human_attribute_name(:logo) %></th>
<th><%= Organ.human_attribute_name(:domain) %></th>
<th>
  <p><%= Organ.human_attribute_name(:area_id) %></p>
  <p><%= Organ.human_attribute_name(:address) %></p>
</th>
<th><%= Organ.human_attribute_name(:official) %></th>
<th><%= Organ.human_attribute_name(:roles) %></th>
<th></th>
