<tr data-depth="<%= office.depth_str %>">
  <td>
    <span style="width: <%= office.depth * 1.43 %>em; display: inline-block;"></span>
    <% if !office.leaf? %>
      <i class="fas fa-caret-down fa-fw grey link icon"></i>
    <% else %>
      <i class="fas fa-minus fa-fw grey icon"></i>
    <% end %>
    <%= office.name %>
    <% if office.name_short %>
      (<%= office.name_short %>)
    <% end %>
  </td>
  <td><%= office.area.full_name %></td>
  <td><%= office.address %></td>
  <td>
    <%= link_to Room.human_name, panel_office_rooms_path(office.id), class: 'ui mini circular button' %>
    <%= link_to edit_panel_office_path(office), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to panel_office_path(office), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
