<tr>
  <td>
    <%= organ.name %>
    <% if organ.name_short.present? %>
      (<%= organ.name_short %>)
    <% end %>
  </td>
  <td><%= image_tag organ.logo.variant(resize_to_limit: [30, 30]) if organ.logo.attached? %></td>
  <td><%= organ.domain %></td>
  <td>
    <p><%= organ.area&.full_name %></p>
    <p><%= organ.address %></p>
  </td>
  <td>
    <div data-controller="input">
      <%= check_box_tag '[organ]official', nil, organ.official, data: { method: :patch, remote: true, confirm: t('.confirm'), url: panel_organ_path(organ), action: 'input#submit' }, id: nil, class: 'switch is-rounded' %>
      <label></label>
    </div>
  </td>
  <td>
    <div data-controller="input">
      <%= check_box_tag '[organ]operational', nil, organ.operational, data: { method: :patch, remote: true, confirm: t('.confirm'), url: panel_organ_path(organ), action: 'input#submit' }, id: nil, class: 'switch is-rounded' %>
      <label></label>
    </div>
  </td>
  <td>
    <div>
      <% organ.roles.pluck(:name).each do |role| %>
        <span><%= role %></span>
      <% end %>
      <%= link_to edit_admin_who_roles_path('Organ', organ.id), aria: { label: t('role.admin.who_roles.edit.title') }, remote: true do %>
        <i class="fas fa-user-shield"></i>
      <% end %>
    </div>
  </td>
  <td>
    <%= link_to({ action: 'edit', id: organ.id }, { aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: organ.id }, { method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
    <%= link_to admin_root_url(host: organ.host), aria: { label: t('.mock') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-hand-point-right"></i>
    <% end %>
  </td>
</tr>
