<div>
  <dt><%= Org::Organ.human_attribute_name(:name) %></dt>
  <dd><%= @organ.name %></dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:name_short) %></dt>
  <dd><%= @organ.name_short %></dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:area_id) %></dt>
  <dd><%= @organ.area&.full_name %></dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:license) %></dt>
  <dd><%= @organ.license %></dd>
</div>
