<% content_for :breadcrumb do %>
  <%= render 'breadcrumb' %>
<% end %>

<%= render 'menu' %>

<div class="ui top attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th>
        <%= Organ.human_attribute_name(:name) %>(<%= Organ.human_attribute_name(:name_short) %>)
      </th>
      <th><%= Organ.human_attribute_name(:area) %></th>
      <th><%= Organ.human_attribute_name(:address) %></th>
      <th>
        <%= link_to new_panel_organ_path, remote: true, class: 'ui mini primary button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @organs.each do |organ| %>
    <%= render partial: 'organ', object: organ %>
    <%= draw_tree(partial: 'org/panel/organs/organ', object: organ) %>
  <% end %>
  </tbody>
</table>

<%= paginate @organs %>
