<tr id="tr_<%= model.id %>" data-depth="<%= model.depth_str %>" data-controller="tree show" data-tree-target="item" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <div data-show-target="item" style="visibility: hidden">
      <%= link_to({ controller: 'organ_domains', organ_id: model.id }, aria: { label: t('org.admin.organ_domains.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-mobile"></i>
      <% end %>
      <%= link_to({ action: 'edit', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-pencil"></i>
      <% end %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.confirm') } }) do %>
        <i class="fa-light fa-trash"></i>
      <% end %>
      <%= link_to({ controller: 'current_organ', action: 'show', host: model.host }, aria: { label: t('.mock') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-hand-point-right"></i>
      <% end %>
    </div>
  </td>
</tr>
<% model.children.each do |child| %>
  <%= render partial: 'index_tbody', layout: 'index_tr', locals: { model: child, display: 'table-row' } %>
<% end unless model == current_organ %>
