<%= render 'edit_menu' %>

<table class="ui very basic large table">
  <thead>
  <tr>
    <th class="three wide">
      <%= form_tag my_user_path, method: :patch, id: 'edit_user' %>
    </th>
    <th>
      <%= link_to 'back', my_user_path, class: 'ui mini blue right floated button' %>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td>
      <div class="ui image dimmable dimmed">
        <a class="ui grey right corner label" id="avatar_button">
          <i class="photo icon"></i>
          <%= hidden_field_tag nil, nil, id: 'proxy' %>
          <%= file_field_tag :key, id: 'file_input' %>
        </a>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar.variant(resize: '200x200'), id: 'avatar_image' %>
        <% else %>
          <%= image_tag 'default_avatar.jpg', size: '200x200', id: 'avatar_image' %>
        <% end %>
      </div>
      <div id="container"></div>
    </td>
  </tr>
  <tr>
    <td class="right aligned"><%= User.human_attribute_name(:name) %></td>
    <td class="ui mini input six wide"><%= text_field_tag 'user[name]', @user.name, placeholder: 'Name', form: 'edit_user' %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= User.human_attribute_name(:email) %></td>
    <td class="ui mini input six wide"><%= email_field_tag 'user[email]', @user.email, placeholder: 'Email：', form: 'edit_user', readonly: 'readonly' %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= User.human_attribute_name(:mobile) %></td>
    <td class="ui mini input six wide"><%= text_field_tag 'user[mobile]', @user.mobile, placeholder: 'Mobile：', form: 'edit_user' %></td>
  </tr>
  <tr>
    <td class="right aligned"><%= User.human_attribute_name(:timezone) %></td>
    <td class="ui mini input six wide"><%= select_tag 'user[timezone]', time_zone_options_for_select(@user.timezone || 'Beijing'), form: 'edit_user' %></td>
  </tr>
  <tr>
    <td></td>
    <td>
      <%= submit_tag 'save', form: 'edit_user', class: 'ui blue button' %>
      <%= link_to 'back', my_user_path, class: 'ui gray button' %>
    </td>
  </tr>
  </tbody>
</table>



