<tr>
  <td>
    <%= link_to resign.member.name, admin_member_path(resign.member_id) if resign.member %>
  </td>
  <td><%= resign.member&.office&.name %></td>
  <td><%= resign.member&.department&.full_name %></td>
  <td><%= resign.leave_on %></td>
  <td>
    <%= resign.state_i18n %>
    <% if resign.init? %>
      <div class="buttons">
        <%= link_to 'Approve', new_check_path(Resign.name, resign.id, state: Resign::states[:approved]), class: 'ui positive button' %>
        <div class="or"></div>
        <%= link_to 'Reject', new_check_path(Resign.name, resign.id, state: Resign::states[:rejected]), class: 'ui negative button' %>
      </div>
    <% end %>
  </td>
  <td>
    <%= link_to 'Show', admin_resign_path(resign), class: 'ui blue label' %>
    <%= link_to 'Edit', edit_admin_resign_path(resign), class: 'ui pink label' %>
    <%= link_to 'Delete', admin_resign_path(resign), method: :delete, data: { confirm: t('.confirm') }, class: 'ui red label' %>
  </td>
</tr>
