<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_resigns_path, class: 'section' %>
  <i class="fa-solid fa-angle-right divider"></i>
  <div class="active section">Show</div>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="three wide"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-right"><%= Resign.human_attribute_name(:resign_reason) %></td>
      <td class="ui labels">
        <% @resign.resign_reasons.each do |resign_reason| %>
          <span class="ui label"><%= resign_reason.name %></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="text-right"><%= Resign.human_attribute_name(:leave_on) %></td>
      <td><%= @resign.leave_on %></td>
    </tr>
    <tr>
      <td class="text-right"><%= Resign.human_attribute_name(:reason_note) %></td>
      <td><%= simple_format @resign.reason_note %></td>
    </tr>
    <tr>
      <td class="text-right"><%= Resign.human_attribute_name(:state) %></td>
      <td><%= @resign.state_i18n %></td>
    </tr>
    <tr>
      <td class="text-right"><%= Resign.human_attribute_name(:created_at) %></td>
      <td><time data-controller="time"><%= @resign.created_at&.to_fs(:iso8601) %></time></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= link_to 'Edit', edit_admin_resign_path(@resign), class: 'ui pink label' %>
        <%= link_to 'Delete', admin_resign_path(@resign), method: :delete, data: { turbo_confirm: t('.destroy.confirm') }, class: 'ui red label' %>
      </td>
    </tr>
  </tbody>
</table>
