<th>
  <p><%= Org::OrganDomain.human_attribute_name(:subdomain) %></p>
  <p><%= Org::OrganDomain.human_attribute_name(:domain) %></p>
</th>
<th><%= Org::OrganDomain.human_attribute_name(:host) %></th>
<th><%= Org::OrganDomain.human_attribute_name(:kind) %></th>
<th><%= Org::OrganDomain.human_attribute_name(:beian) %></th>
<th><%= Org::OrganDomain.human_attribute_name(:default) %></th>
<th>
  <p><%= Org::OrganDomain.human_attribute_name(:redirect_controller) %></p>
  <p><%= Org::OrganDomain.human_attribute_name(:redirect_action) %></p>
</th>
