<div class="ui three cards">
  <% @members.each do |member| %>
  <div class="card">
    <div class="content">
      <div>
        <i class="fas fa-user"></i>
        <span class="ui grey text"><%= member.name %></span>
        <span class="ui green text"><%= member.identity %></span>
      </div>
      <div>
        <%= member.offices.first&.address %>
      </div>
    </div>
    <div class="extra content">
      <%= link_to member.organ.name, login_my_member_path(member), method: :patch, class: 'ui mini button' %>
      <span><%= member.departments.map(&:full_name).join(', ') %></span>
      <%= image_tag member.organ.logo.variant(resize_to_limit: [150, 150]), class: 'right floated mini ui image' %>
    </div>
  </div>
  <% end %>
</div>
