<%= render 'the_auth_my/users/menu' %>

<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="three wide"></th>
      <th>
        <%= link_to t('.edit'), edit_my_member_path, class: 'ui mini blue right floated button' %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= Member.human_attribute_name(:number) %></td>
      <td><%= @member.number %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Member.human_attribute_name(:name) %></td>
      <td><%= @member.name %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Member.human_attribute_name(:parent) %></td>
      <td><%= @member.parent&.name %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Member.human_attribute_name(:join_on) %></td>
      <td><%= @member.join_on %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Member.human_attribute_name(:department) %></td>
      <td><%= @member.department&.full_name %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Member.human_attribute_name(:office) %></td>
      <td><%= @member.office&.name %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Member.human_attribute_name(:experience) %></td>
      <td><%= simple_format(@member.experience) %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Member.human_attribute_name(:attendance_number) %></td>
      <td><%= @member.attendance_number %></td>
    </tr>
  </tbody>
</table>

