<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= JobTransfer.human_attribute_name(:id) %></th>
      <th><%= JobTransfer.human_attribute_name(:member) %></th>
      <th>From</th>
      <th>To</th>
      <th><%= JobTransfer.human_attribute_name(:transfer_on) %></th>
      <th><%= JobTransfer.human_attribute_name(:state) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @job_transfers.each do |job_transfer| %>
    <tr>
      <td><%= job_transfer.id %></td>
      <td><%= job_transfer.member.name %></td>
      <td>
        <p><%= job_transfer.from_office&.name %></p>
        <p><%= job_transfer.from_department&.full_name %></p>
        <p><%= job_transfer.from_job_title&.name %></p>
      </td>
      <td>
        <p><%= job_transfer.to_office&.name %></p>
        <p><%= job_transfer.to_department&.full_name %></p>
        <p><%= job_transfer.to_job_title&.name %></p>
      </td>
      <td><%= job_transfer.transfer_on %></td>
      <td class="ui labels">
        <label class="ui label"><%= job_transfer.state_i18n %></label>
        <% if job_transfer.next_operator == current_user %>
          <div class="ui mini buttons">
            <%= link_to 'Approve', new_check_path(JobTransfer.name, job_transfer.id, state: job_transfer.next_state_state), remote: true, class: 'ui positive button' %>
            <div class="or"></div>
            <%= link_to 'Reject', new_check_path(JobTransfer.name, job_transfer.id, state: JobTransfer.states[:rejected]), remote: true, class: 'ui negative button' %>
          </div>
        <% end %>
      </td>
      <td class="ui labels">
        <%= link_to 'Detail', panel_job_transfer_path(job_transfer), class: 'ui blue label' %>
        <%= link_to 'Edit', edit_panel_job_transfer_path(job_transfer), class: 'ui pink label' %>
        <%= link_to t('.destroy'), panel_job_transfer_path(job_transfer), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @job_transfers %>
