<td>
  <% if model.user && model.user.avatar.present? %>
    <%= link_to({ controller: '/auth/users', action: 'show', id: model.user_id }) do %>
      <%= image_tag model.user.avatar.variant(resize_to_limit: [35, 35]), class: 'image' %>
    <% end %>
  <% end %>
  <%= model.name %>
</td>
<td></td>
<td><%= model.organ&.name %></td>
<td><%= model.join_on %></td>
