<div class="ui vertical fluid menu">
  <% @departments.each do |department| %>
  <div class="item">
    <%= link_to me_department_path(department), class: active_helper(id: department.id, active: 'header', item: nil) do %>
      <span><%= department.name %></span><span class="grey text">(<%= department.all_member_departments_count %>)</span>
    <% end %>
    <div class="<%= (department.child_ids + [department.id]).include?(params[:department_id]) ? 'menu' : 'menu' %>">
      <% department.children.each do |child| %>
        <%= link_to my_department_path(child), class: active_helper(id: child.id) do %>
          <span><%= child.name %></span><span class="grey text">(<%= child.all_member_departments_count %>)</span>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
