<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= OrgConfig.human_attribute_name(:name) %></th>
      <th><%= OrgConfig.human_attribute_name(:description) %></th>
      <th><%= OrgConfig.human_attribute_name(:record_class) %></th>
      <th><%= OrgConfig.human_attribute_name(:record_column) %></th>
      <th><%= OrgConfig.human_attribute_name(:job_title_id) %></th>
      <th>
        <%= link_to new_panel_org_config_path, remote: true, class: 'ui mini green button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @org_configs.each do |org_config| %>
    <tr>
      <td><%= org_config.name %></td>
      <td><%= org_config.description %></td>
      <td><%= org_config.record_class %></td>
      <td><%= org_config.record_column %></td>
      <td class="ui labels">
        <% org_config.job_titles.each do |job_title| %>
          <span class="ui label"><%= job_title.name %></span>
        <% end %>
      </td>
      <td>
        <%= link_to edit_panel_org_config_path(org_config), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @org_configs %>
