<!DOCTYPE html>
<html>

<head>
  <title>The User Profile</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <%= css_load media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= js_ready 'data-turbolinks-track': true %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
</head>

<body>

<%= render 'navbar' %>
<%= render 'shared/alert' %>

<main class="ui container">
  <%= yield %>
</main>

<%= render 'footer' %>

<%= js_load %>
</body>

</html>