<div class="weui-panel">
  <div class="weui-panel__hd media">
    <div class="media-left">
      <%= image_tag model[0].logo.variant(resize_to_limit: [150, 150]), class: 'image is-48x48' if model[0].logo.attached? %>
    </div>
    <div class="media-content">
      <strong><%= model[0].name %></strong>
    </div>
    <div class="media-right"></div>
  </div>
  <div class="weui-panel__bd">
    <% model[1].each do |member| %>
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <div class="media">
            <div class="media-left">
              <%= image_tag member.avatar.variant(resize_to_limit: [150, 150]), class: 'image is-48x48' if member.avatar.attached? %>
            </div>
            <div class="media-content">
              <span><%= member.departments.first&.full_name %></span>
              <span><%= member.name %></span>
            </div>
            <div class="media-right">
              <%= link_to '工作台', { controller: '/me/home', **model[0].url_options }, class: 'card-footer-item' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
