  <div class="card">
    <div class="content">
      <div>
        <i class="fa-regular fa-user"></i>
        <span class="ui grey text"><%= model.name %></span>
        <span class="ui green text"><%= member.identity %></span>
      </div>
    </div>
    <div class="extra content">
      <p>
        <span><%= member.organ.address %></span>
        <%= link_to member.organ.name, login_my_member_path(member), method: :patch, class: 'ui mini button' %>
        <span><%= member.departments.first&.full_name %></span>
        <%= image_tag member.organ.logo.variant(resize_to_limit: [150, 150]), class: 'right floated mini ui image' if member.organ.logo.attached? %>
      </p>
    </div>
  </div>
