<td><%= model.grade %></td>
<td><%= model.name %></td>
<td><%= model.description %></td>
<td>
  <div class="tags">
    <% model.roles.pluck(:name).each do |role| %>
      <span class="tag"><%= role %></span>
    <% end %>
    <%= link_to edit_who_roles_path('JobTitle', model.id), aria: { label: t('role.admin.who_roles.edit.title') } do %>
      <i class="fas fa-user-shield"></i>
    <% end %>
  </div>
</td>
