<td><%= model.grade %></td>
<td><%= model.name %></td>
<td><%= model.description %></td>
<td>
  <div class="tags">
    <% model.roles.pluck(:name).each do |role| %>
      <span class="tag"><%= role %></span>
    <% end %>
    <%= link_to({ controller: 'roled/admin/who_roles', action: 'edit', who_type: 'Org::SuperJobTitle', who_id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('roled.admin.who_roles.edit.title') }) do %>
      <i class="fas fa-user-shield"></i>
    <% end %>
  </div>
</td>
