<tr>
  <td><%= Org::SuperJobTitle.human_attribute_name(:grade) %></td>
  <td><%= @super_job_title.grade %></td>
</tr>
<tr>
  <td><%= Org::SuperJobTitle.human_attribute_name(:name) %></td>
  <td><%= @super_job_title.name %></td>
</tr>
<tr>
  <td><%= Org::SuperJobTitle.human_attribute_name(:description) %></td>
  <td><%= @super_job_title.description %></td>
</tr>
