<div>
  <dt><%= Org::SuperJobTitle.human_attribute_name(:grade) %></dt>
  <dd><%= @super_job_title.grade %></dd>
</div>
<div>
  <dt><%= Org::SuperJobTitle.human_attribute_name(:name) %></dt>
  <dd><%= @super_job_title.name %></dd>
</div>
<div>
  <dt><%= Org::SuperJobTitle.human_attribute_name(:description) %></dt>
  <dd><%= @super_job_title.description %></dd>
</div>
