<% content_for :breadcrumb do %>
  <div class="ui basic segment breadcrumb">
    <%= link_to t('org.admin.departments.index.title'), admin_departments_path, class: 'section' %>
    <i class="fas fa-angle-right divider"></i>
    <div class="active section"><%= t('.title') %></div>
  </div>
<% end %>

<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= SuperJobTitle.human_attribute_name(:grade) %></th>
      <th><%= SuperJobTitle.human_attribute_name(:name) %></th>
      <th><%= SuperJobTitle.human_attribute_name(:description) %></th>
      <th><%= JobTitle.human_attribute_name(:role_ids) %></th>
      <th>
        <%= link_to new_admin_super_job_title_path, remote: true, class: 'ui mini green button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @super_job_titles.each do |super_job_title| %>
    <tr>
      <td><%= super_job_title.grade %></td>
      <td><%= super_job_title.name %></td>
      <td><%= super_job_title.description %></td>
      <td>
        <div class="ui labels">
          <% super_job_title.roles.pluck(:name).each do |role| %>
            <span class="ui label"><%= role %></span>
          <% end %>
          <%= link_to edit_who_roles_path('JobTitle', super_job_title.id), aria: { label: t('role.admin.who_roles.edit.title') }, remote: true do %>
            <i class="fas fa-user-shield"></i>
          <% end %>
        </div>
      </td>
      <td>
        <%= link_to admin_super_job_title_path(super_job_title), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_super_job_title_path(super_job_title), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_super_job_title_path(super_job_title), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @super_job_titles %>
