<div class="weui-media-box weui-media-box_appmsg">
  <div class="weui-media-box__hd">
  <% if current_member.avatar.present? %>
    <%= image_tag current_member.avatar, class: 'weui-media-box__thumb is-radius' %>
  <% else %>
    <%= image_tag 'default_avatar.jpg', class: 'weui-media-box__thumb' %>
  <% end %>
  </div>
  <div class="weui-media-box__bd">
    <strong class="weui-media-box__title">
      <span><%= current_member.name %></span>
      <span class="weui-badge weui-badge__primary">
        <i class="fa-solid fa-building-user"></i>
        <span><%= current_organ.name %></span>
      </span>
    </strong>
    <div class="weui-media-box__desc">
      <span class="has-text-weight-normal is-size-7"><%= current_member.identity %></span>
    </div>
  </div>
  <div class="weui-media-box__ft">
    <%= link_to({ controller: 'auth/my/home' }, class: 'has-text-grey') do %>
      <span class="has-text-grey has-text-weight-normal"></span>
      <i class="fa-solid fa-qrcode pl-0"></i>
    <% end %>
  </div>
</div>

