<tr>
  <td><%= authorized_token.user_id %></td>
  <td><%= authorized_token.oauth_user_id %></td>
  <td style="word-break: break-all"><%= authorized_token.token %></td>
  <td><time><%= authorized_token.expire_at.to_s(:rfc822) %></time></td>
  <td><%= authorized_token.mock_member %></td>
  <td>
    <%= link_to({ action: 'show', id: authorized_token.id }, { aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-info"></i>
    <% end %>
    <%= link_to({ action: 'edit', id: authorized_token.id }, { aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: authorized_token.id }, { method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
