<div>
  <dt><%= AuthorizedToken.human_attribute_name(:user_id) %></dt>
  <dd><%= @authorized_token.user_id %></dd>
</div>
<div>
  <dt><%= AuthorizedToken.human_attribute_name(:oauth_user_id) %></dt>
  <dd><%= @authorized_token.oauth_user_id %></dd>
</div>
<div>
  <dt><%= AuthorizedToken.human_attribute_name(:token) %></dt>
  <dd><%= @authorized_token.id %></dd>
</div>
<div>
  <dt><%= AuthorizedToken.human_attribute_name(:expire_at) %></dt>
  <dd><%= @authorized_token.expire_at %></dd>
</div>
<div>
  <dt><%= AuthorizedToken.human_attribute_name(:mock_member) %></dt>
  <dd><%= @authorized_token.mock_member %></dd>
</div>
