<%= link_to({ controller: 'org/me/members', action: 'show' }, state: 'enter', class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-user-gear has-text-primary"></i>
    <span class="pl-1"><%= t('.members.show.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<%= link_to({ controller: 'org/me/members', action: 'qrcodes' }, state: 'enter', class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-qrcode has-text-primary"></i>
    <span class="pl-1"><%= t('.members.qrcodes.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<%= link_to({ controller: 'trade/me/home', action: 'qrcode' }, state: 'enter', class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-qrcode has-text-danger"></i>
    <span class="pl-1"><%= t('trade.me.home.qrcode.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<%= link_to({ controller: 'org/me/organs', action: 'show' }, state: 'enter', class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-sitemap has-text-danger"></i>
    <span class="pl-1"><%= t('.organs.show.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
