<%= link_to({ controller: 'org/me/members', action: 'show' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-user-gear text-primary"></i>
    <span class="pl-1"><%= t('.members.show.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<%= link_to({ controller: 'org/me/members', action: 'qrcodes' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-qrcode text-primary"></i>
    <span class="pl-1"><%= t('.members.qrcodes.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<%= link_to({ controller: 'trade/me/home', action: 'qrcode' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-qrcode text-danger"></i>
    <span class="pl-1"><%= t('trade.me.home.qrcode.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<%= link_to({ controller: 'org/me/organs', action: 'show' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-sitemap text-danger"></i>
    <span class="pl-1"><%= t('.organs.show.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<% if request.variant.include?(:mini_program) %>
  <div
    data-controller="mini-program"
    data-mini-program-nav-value="true"
    data-mini-program-url-value="/pages/print/weigh"
    data-mini-program-data-value="<%= { url: url_for(only_path: false) }.to_json %>"
    data-action="click->mini-program#link"
    class="media"
  >
    <div class="media-content">
      <i class="fa-solid fa-fw fa-print text-primary"></i>
      <span class="ml-1"><%= '设置蓝牙称' %></span>
    </div>
    <div class="media-right">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </div>
<% end %>

