<div class="weui-media-box weui-media-box_appmsg">
  <div data-controller="empty" class="weui-media-box__hd">
    <%= image_tag model.logo.variant(resize_to_limit: [150, 150]), class: 'weui-media-box__thumb' if model.logo.attached? %>
  </div>
  <div class="weui-media-box__bd">
    <span class="weui-media-box__title">
      <% if model.host.present? %>
        <%= link_to model.name, { controller: 'my/home', host: model.host } %>
      <% end %>
    </span>
    <span class="weui-media-box__desc">
      <span><%= model.area.full_name %></span>
      <span><%= model.address %></span>
    </span>
  </div>
  <%= link_to({ controller: '/space/stations' }, class: 'weui-media-box__ft pr-4') do %>
    <p>列表</p>
  <% end %>
</div>
