<tr>
  <% (child.depth - @department.depth).times.each do |d| %>
    <td></td>
  <% end %>
  <td colspan="<%= child.col_span %>">
    <i class="grey caret right icon"></i>
    <%= link_to panel_department_path(child) do %>
      <span><%= child.name %></span>
      <span class="grey text">(<%= child.all_member_departments_count %>)</span>
    <% end %>
  </td>
  <td>
    <%= child.needed_member %> /
    <span class="<%= active_asserts('red': child.needed_member.to_i > child.member_departments_count, 'grey': child.needed_member.to_i == child.member_departments_count, 'green': child.needed_member.to_i < child.member_departments_count) %> text">
      <%= child.member_departments_count %>
    </span>
  </td>
  <td class="ui labels">
    <% child.members.each do |member| %>
      <span class="ui label"><%= member.name %></span>
    <% end %>
  </td>
  <td class="ui labels">
    <%#= link_to 'JD', panel_department_job_descriptions_path(child), class: 'ui blue label' %>
    <%= link_to 'Supports', panel_supports_path(department_id: child.id), class: 'ui yellow label' %>
    <%= link_to 'Need', need_panel_department_path(child), class: 'ui pink label' %>
  </td>
</tr>



