<%= search_form_with model: Member.new do |f| %>
  <div class="fields">
    <%= f.text_field :'name-like' %>
    <%= f.text_field :identity %>
    <div class="two wide field" id="q_department_wrapper_0">
      <%= f.collection_select "department_ancestors(0i)", Department.roots, :id, :name, { prompt: true, on: { wrapper_input: false }}, {data: {id: 0, title: 'department_ancestors'}} %>
    </div>
    <%= f.submit %>
    <%= link_to t('.clear'), filter_params(except: [:'name-like', :identity]), class: 'ui button' %>
  </div>
<% end %>
