<th><%= Org::Tutorial.human_attribute_name(:member) %></th>
<th><%= Org::Tutorial.human_attribute_name(:tutor) %></th>
<th><%= Org::Tutorial.human_attribute_name(:kind) %></th>
<th>
  <p><%= Org::Tutorial.human_attribute_name(:start_on) %></p>
  <p><%= Org::Tutorial.human_attribute_name(:finish_on) %></p>
</th>
<th>
  <p><%= Org::Tutorial.human_attribute_name(:state) %></p>
  <p><%= Org::Tutorial.human_attribute_name(:accepted_status) %></p>
</th>
<th><%= Org::Tutorial.human_attribute_name(:performance) %></th>
<th><%= Org::Tutorial.human_attribute_name(:allowance) %></th>
<th><%= Org::Tutorial.human_attribute_name(:verified) %></th>
<th></th>
