<tr data-depth="<%= node.depth_str %>">
  <td>
    <span><%= ('&emsp;' * node.depth * 2).html_safe %></span>
    <% if node.children.any? %>
      <a onclick="collapse(this)" href="javascript:void(0)"><i class="grey caret down icon"></i></a>
    <% end %>
    <%= node.name %>
  </td>
  <td>
    <%= link_to t('.edit.title'), edit_admin_resign_reason_path(node), class: 'ui pink label' %>
    <%= link_to t('.destroy.title'), admin_resign_reason_path(node), method: :delete, data: { turbo_confirm: t('.destroy.confirm') }, class: 'ui red label' %>
  </td>
</tr>
