<tr>
  <td><%= organ_domain.domain %></td>
  <td><%= organ_domain.port %></td>
  <td><%= organ_domain.subdomain %></td>
  <td><%= organ_domain.host %></td>
  <td><%= organ_domain.appid %></td>
  <td>
    <%= link_to({ action: 'show', id: organ_domain.id }, { aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-eye"></i>
    <% end %>
    <%= link_to({ action: 'edit', id: organ_domain.id }, { aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: organ_domain.id }, { method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
