<div class="<%= active_helper(modules: 'org/admin', active_class: 'menu ex-accordion is-active', item_class: 'menu ex-accordion') %>" data-controller="menu">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fas fa-sitemap fa-fw"></i>
    <span><%= t('org.admin.title') %></span>
    <i class="fas dropdown"></i>
  </a>
  <div class="menu-list">
    <%= link_to t('org.admin.organs.index.title'), admin_organs_path, class: active_helper(controllers: 'org/admin/organs', active_class: 'is-active', item_class: nil) %>
    <%= link_to t('org.admin.departments.index.title'), admin_departments_path, class: active_helper(controllers: ['departments', 'job_descriptions'], active_class: 'is-active', item_class: nil) %>
    <%= link_to t('org.admin.members.index.title'), admin_members_path, class: active_helper(controllers: ['members'], active_class: 'is-active', item_class: nil) %>
    <%# link_to 'Supports', admin_supports_path, class: active_helper(controllers: 'supports') %>
    <%# link_to 'Tutorials', admin_tutorials_path, class: active_helper(controllers: ['tutorials']) %>
    <%# link_to 'Job Transfers', admin_job_transfers_path, class: active_helper(controllers: ['job_transfers']) %>
    <%# link_to 'Resigns', admin_resigns_path, class: active_helper(controllers: ['resigns', 'resign_reasons']) %>
  </div>
</div>
