<div data-controller="empty" class="weui-panel is-box is-borderless">
  <div class="weui-panel__hd">
    <i class="fa-solid fa-fw fa-building has-text-primary"></i>
    <span><%= t('org.admin.title') %></span>
  </div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile is-flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
      <%= link_to({ controller: 'org/admin/members' }, class: 'column has-block-centered') do %>
        <div class="has-text-primary">
          <i class="fa-solid fa-fw fa-xl fa-user-gear"></i>
        </div>
        <div class="has-text-grey is-size-7 mt-1"><%= t('org.admin.members.index.title') %></div>
      <% end %>
      <%= link_to({ controller: 'org/admin/departments' }, class: 'column has-block-centered') do %>
        <div class="has-text-primary">
          <i class="fa-solid fa-fw fa-xl fa-chalkboard-user"></i>
        </div>
        <div class="has-text-dark is-size-7 mt-1"><%= t('org.admin.departments.index.title') %></div>
      <% end %>
    </div>
  </div>
</div>
