<div class="navbar-item has-dropdown is-hoverable is-hidden-touch">
  <div class="navbar-link">
    <%= image_tag current_organ.logo if current_organ && current_organ.logo.attached? %>
    <span><%= current_organ.present? ? current_organ.name : t('.title') %></span>
  </div>
  <div class="navbar-dropdown is-right">
    <div class="navbar-item">
      <%= image_tag current_member.avatar if current_member && current_member.avatar.attached? %>
      <span class="is-size-7 has-text-grey"><%= current_account.identity %></span>
    </div>
    <div class="navbar-divider"></div>
    <% current_account.organs.includes(:organ_domains).each do |organ| %>
      <% if current_organ.self_and_ancestor_ids.include?(organ.id) %>
        <%= link_to({ controller: '/me/home', auth_token: current_authorized_token.id, **organ.url_options(request) }, class: 'navbar-item is-active') do %>
          <span><%= organ.name %></span>
        <% end %>
      <% else %>
        <%= link_to({ controller: '/me/home', auth_token: current_authorized_token.id, **organ.url_options(request) }, class: 'navbar-item') do %>
          <span><%= organ.name %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
