<%= link_to({ controller: 'org/me/home' }, text: true, class: 'media as-boxed') do %>
  <div class="media-left">
  <% if current_member.avatar.attached? %>
    <%= image_tag current_member.avatar, class: 'image is-64x64 is-radius' %>
  <% elsif current_member.name.present? %>
    <div class="is-avatar">
      <div class="text"><%= current_member.name[0] %></div>
    </div>
  <% else %>
    <%= image_tag 'default_avatar.jpg', class: 'image is-64x64 is-radius' %>
  <% end %>
  </div>
  <div class="media-content">
    <strong class="weui-media-box__title">
      <span><%= current_member.name %></span>
    </strong>
    <div class="weui-media-box__desc">
      <span class="text-weight-normal size-7"><%= current_organ.name %></span>
    </div>
  </div>
  <div class="media-right text-grey">
    <i class="fa-solid fa-qrcode"></i>
    <i class="fa-solid fa-chevron-right pl-2"></i>
  </div>
<% end %>
