<%= link_to({ controller: 'auth/my/home' }, state: 'enter', class: 'weui-media-box weui-media-box_appmsg') do %>
  <div class="weui-media-box__hd">
  <% if current_member.avatar.present? %>
    <%= image_tag current_member.avatar, class: 'weui-media-box__thumb is-radius' %>
  <% else %>
    <div class="is-avatar">
      <div class="text"><%= current_user.name[0] %></div>
    </div>
  <% end %>
  </div>
  <div class="weui-media-box__bd">
    <strong class="weui-media-box__title">
      <span><%= current_member.name %></span>
      <span class="weui-badge weui-badge__primary">
        <i class="fa-solid fa-building-user"></i>
        <span><%= current_organ.name %></span>
      </span>
    </strong>
    <div class="weui-media-box__desc">
      <span class="has-text-weight-normal is-size-7"><%= current_member.identity %></span>
    </div>
  </div>
  <div class="weui-media-box__ft">
    <i class="fa-solid fa-qrcode pl-0"></i>
  </div>
<% end %>
