<div>
  <dt><%= Org::Member.human_attribute_name(:leader) %></dt>
  <dd><%= @member.leader&.name %></dd>
</div>
<div>
  <dt><%= Org::Member.human_attribute_name(:identity) %></dt>
  <dd><%= @member.identity %></dd>
</div>
<div>
  <dt><%= Org::Member.human_attribute_name(:department) %></dt>
  <td>
    <% @member.departments.each do |department| %>
      <p><%= link_to department.full_name, { controller: 'departments', action: 'show', id: department.id } %></p>
    <% end %>
  </td>
</div>
<div>
  <dt><%= Org::Member.human_attribute_name(:join_on) %></dt>
  <dd><%= @member.join_on %></dd>
</div>
<div>
  <dt><%= Org::Member.human_attribute_name(:tutorials) %></dt>
  <td>
    <table class="table">
      <% @member.tutorials.each do |tutorial| %>
        <div>
          <dt><%= tutorial.id %></dd>
          <dt><%= tutorial.kind_i18n %></dd>
          <dt><%= tutorial.tutor&.name %></dd>
        </div>
      <% end %>
      <tfoot>
      <div>
        <td colspan="3">
          <% Org::Tutorial.options_i18n(:kind).each do |text, value| %>
            <%= link_to text, { controller: 'tutorials', action: 'new', kind: value, member_id: @member.id }, class: 'tag' %>
          <% end %>
        </td>
      </div>
      </tfoot>
    </table>
  </td>
</div>
