<tr>
  <td>
    <%= job_title.grade %>
    <%= button_to({ action: 'move_lower', id: job_title }, method: :patch) do %>
      <i class="fa-solid fa-arrow-down"></i>
    <% end %>
    <%= button_to({ action: 'move_higher', id: job_title }, method: :patch) do %>
      <i class="fa-solid fa-arrow-up"></i>
    <% end %>
  </td>
  <td><%= job_title.name %></td>
  <td><%= job_title.description %></td>
  <td data-controller="input">
    <% if job_title.department_id == @department.id %>
      <span><%= job_title.department.full_name %></span>
    <% elsif job_title.department %>
      <%= link_to job_title.department.full_name, admin_department_job_titles_path(job_title.department_id) %>
    <% else %>
      <%= link_to t('org.admin.job_titles.index.title'), admin_super_job_titles_path %>
    <% end %>
  </td>
  <td>
    <div>
      <% job_title.roles.pluck(:name).each do |role| %>
        <span><%= role %></span>
      <% end %>
      <%= link_to({ controller: 'roled/admin/who_roles', action: 'edit', who_type: 'JobTitle', who_id: job_title.id }, aria: { label: t('roled.admin.who_roles.edit.title') }) do %>
        <i class="fa-regular fa-user-shield"></i>
      <% end %>
    </div>
  </td>
  <td data-controller="input">
    <% if job_title.department_id == @department.id %>
      <%= link_to({ action: 'edit', id: job_title.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pencil"></i>
      <% end %>
    <% end %>
    <% if job_title.super_job_title %>
      <%= form_with theme: nil, scope: nil, url: { action: 'destroy', id: job_title.id }, method: :delete, data: { controller: 'input' } do |f| %>
        <%= f.check_box :department_id, checked: true, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
        <label data-action="click->input#check"></label>
      <% end %>
    <% else %>
      <%= button_to({ action: 'destroy', id: job_title.id }, method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.confirm') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    <% end %>
  </td>
</tr>
