<tr>
  <td class="has-text-right"><%= Org::JobTitle.human_attribute_name(:department) %></td>
  <td><%= @job_title.department.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Org::JobTitle.human_attribute_name(:name) %></td>
  <td><%= @job_title.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Org::JobTitle.human_attribute_name(:grade) %></td>
  <td><%= @job_title.grade %></td>
</tr>
