<div>
  <dt><%= Org::JobTitle.human_attribute_name(:department) %></dt>
  <dd><%= @job_title.department.name %></dd>
</div>
<div>
  <dt><%= Org::JobTitle.human_attribute_name(:name) %></dt>
  <dd><%= @job_title.name %></dd>
</div>
<div>
  <dt><%= Org::JobTitle.human_attribute_name(:grade) %></dt>
  <dd><%= @job_title.grade %></dd>
</div>
