<% content_for :breadcrumb do %>
  <div class="ui basic segment breadcrumb">
    <%= link_to t('org.admin.departments.index.title'), admin_departments_path, class: 'section' %>
    <% if params[:department_id] %>
    <i class="fas fa-angle-right divider"></i>
    <%= link_to @department.name, admin_department_path(params[:department_id]), class: 'section' %>
    <% end %>
    <i class="fas fa-angle-right divider"></i>
    <div class="active section"><%= JobTitle.human_name %></div>
  </div>
<% end %>

<table class="ui selectable table">
  <thead>
    <tr>
      <th>
        <%= JobTitle.human_attribute_name(:grade) %>
        <span data-tooltip="<%= JobTitle.help_i18n(:grade) %>"><i class="grey question circle icon"></i></span>
      </th>
      <th><%= JobTitle.human_attribute_name(:name) %></th>
      <th><%= JobTitle.human_attribute_name(:description) %></th>
      <th><%= JobTitle.human_attribute_name(:department_id) %></th>
      <th><%= JobTitle.human_attribute_name(:role_ids) %></th>
      <th>
        <%= link_to new_admin_department_job_title_path(params[:department_id]), class: 'ui mini primary button', remote: true do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @super_job_titles.each do |super_job_title| %>
    <tr>
      <td><%= super_job_title.grade %></td>
      <td><%= super_job_title.name %></td>
      <td><%= super_job_title.description %></td>
      <td></td>
      <td></td>
      <td>
        <div class="ui toggle checkbox">
          <% if @department.super_job_title_ids.include?(super_job_title.id) %>
            <%= check_box_tag :department_id, @department.id, true, data: { method: :delete, remote: true, url: department_admin_super_job_title_path(super_job_title), submit: true }, id: nil %>
          <% else %>
            <%= check_box_tag :department_id, @department.id, false, data: { method: :post, remote: true, url: department_admin_super_job_title_path(super_job_title), submit: true }, id: nil %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
  <% @job_titles.each do |job_title| %>
    <tr>
      <td>
        <%= job_title.grade %>
        <%= link_to move_lower_admin_department_job_title_path(@department, job_title), method: :patch do %>
          <i class="arrow down icon"></i>
        <% end %>
        <%= link_to move_higher_admin_department_job_title_path(@department, job_title), method: :patch do %>
          <i class="arrow up icon"></i>
        <% end %>
      </td>
      <td><%= job_title.name %></td>
      <td><%= job_title.description %></td>
      <td>
        <% if job_title.department_id == @department.id %>
          <span><%= job_title.department.full_name %></span>
        <% elsif job_title.department %>
          <%= link_to job_title.department.full_name, admin_department_job_titles_path(job_title.department_id) %>
        <% else %>
          <%= link_to t('org.admin.job_titles.index.title'), admin_super_job_titles_path %>
        <% end %>
      </td>
      <td>
        <div class="ui labels">
          <% job_title.roles.pluck(:name).each do |role| %>
            <span class="ui label"><%= role %></span>
          <% end %>
          <%= link_to edit_who_roles_path('JobTitle', job_title.id), aria: { label: t('role.admin.who_roles.edit.title') }, remote: true do %>
            <i class="fas fa-user-shield"></i>
          <% end %>
        </div>
      </td>
      <td>
        <% if job_title.department_id == @department.id %>
          <%= link_to edit_admin_department_job_title_path(@department, job_title), aria: { label: t('.edit') }, class: 'ui mini circular icon button', remote: true do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
          <%= link_to admin_department_job_title_path(@department, job_title), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @job_titles %>
