<% content_for :breadcrumb do %>
<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('org.admin.departments.index.title'), admin_departments_path %></li>
    <li><%= link_to @department.name, admin_department_path(params[:department_id]) %></li>
    <li class="is-active"><%= JobTitle.human_name %></li>
  </ul>
</div>
<% end %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>
        <%= JobTitle.human_attribute_name(:grade) %>
        <span data-tooltip="<%= JobTitle.help_i18n(:grade) %>"><i class="grey question circle icon"></i></span>
      </th>
      <th><%= JobTitle.human_attribute_name(:name) %></th>
      <th><%= JobTitle.human_attribute_name(:description) %></th>
      <th><%= JobTitle.human_attribute_name(:department_id) %></th>
      <th><%= JobTitle.human_attribute_name(:role_ids) %></th>
      <th>
        <%= link_to new_admin_department_job_title_path(params[:department_id]), remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render 'super_job_titles' %>
    <%= render 'job_titles' %>
  </tbody>
</table>
