<tr>
  <td><%= job_transfer.member.name %></td>
  <td>
    <p><%= job_transfer.from_office&.name %></p>
    <p><%= job_transfer.from_department&.full_name %></p>
    <p><%= job_transfer.from_job_title&.name %></p>
  </td>
  <td>
    <p><%= job_transfer.to_office&.name %></p>
    <p><%= job_transfer.to_department&.full_name %></p>
    <p><%= job_transfer.to_job_title&.name %></p>
  </td>
  <td><%= job_transfer.transfer_on %></td>
  <td>
    <label class="ui label"><%= job_transfer.state_i18n %></label>
    <% if job_transfer.next_operator == current_user %>
      <div class="ui mini buttons">
        <%= link_to 'Approve', new_check_path(JobTransfer.name, job_transfer.id, state: job_transfer.next_state_state), class: 'ui positive button' %>
        <div class="or"></div>
        <%= link_to 'Reject', new_check_path(JobTransfer.name, job_transfer.id, state: JobTransfer.states[:rejected]), class: 'ui negative button' %>
      </div>
    <% end %>
  </td>
  <td class="ui labels">
    <%= link_to 'Detail', admin_job_transfer_path(job_transfer), class: 'ui blue label' %>
    <%= link_to 'Edit', edit_admin_job_transfer_path(job_transfer), class: 'ui pink label' %>
    <%= link_to t('.destroy'), admin_job_transfer_path(job_transfer), method: :delete, data: { confirm: t('.confirm') }, class: 'ui red label' %>
  </td>
</tr>
