<th></th>
<th>
  <p><%= Org::Organ.human_attribute_name(:name) %>(<%= Org::Organ.human_attribute_name(:name_short) %>)</p>
  <p><%= Org::Organ.human_attribute_name(:created_at) %></p>
</th>
<th>
  <p><%= Org::Organ.human_attribute_name(:creator_id) %></p>
  <p><%= Org::Organ.human_attribute_name(:area_id) %></p>
</th>
<th>
  <p><%= Org::Organ.human_attribute_name(:code) %></p>
  <p><%= Org::Organ.human_attribute_name(:official) %></p>
</th>
<th><%= Org::Organ.human_attribute_name(:roles) %></th>
<th><%= Org::Organ.human_attribute_name(:members_count) %></th>
<th></th>