<td>
  <%= image_tag model.logo.url, class: 'image is-32x32' if model.logo.attached? %>
</td>
<td>
  <p>
    <span><%= model.name %></span>
    <% if model.name_short.present? %>
      <span class="text-grey">(<%= model.name_short %>)</span>
    <% end %>
  </p>
  <p class="text-grey"><time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
<td>
  <p><%= model.creator&.name || model.creator_id %></p>
  <p><%= defined?(RailsShip) && model.area&.full_name %></p>
</td>
<td>
  <p><%= model.code %></p>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :official, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <div>
    <% model.roles.pluck(:name).each do |role| %>
      <span><%= role %></span>
    <% end %>
  </div>
  <div>
    <%= button_to({ controller: 'roled/panel/whos', action: 'edit', who_type: 'Org::Organ', who_id: model.id }, aria: { label: t('roled.panel.whos.edit.title') }) do %>
      <i class="fa-solid fa-user-shield text-link"></i>
    <% end %>
  </div>
</td>
<td>
  <%= link_to({ controller: 'members', organ_id: model.id }, aria: { label: t('org.panel.members.index.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-users text-info"></i>
    <span class="pl-1"><%= model.members_count %></span>
  <% end %>
</td>
<td>
  <%= link_to({ action: 'children', id: model.id }, aria: { label: t('.children.index.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-building-flag text-info"></i>
    <span class="pl-1"><%= model.children.count %></span>
  <% end %>
</td>