<table class="ui bottom attached table">
  <thead>
  <tr>
    <th>ID</th>
    <th>name</th>
    <th>Note</th>
    <th>Order At</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr id="order_<%= order.id %>">
      <td><%= order.id %></td>
      <td>
        <% order.order_items.each do |oi| %>
          <p><%= oi.good.name %></p>
        <% end %>
      </td>
      <td><%= order.note %></td>
      <td><time><%= order.created_at.to_s(:rfc822) %></time></td>
      <td>
        <% if Dinner.enabled? %>
          <%= link_to 'Note', edit_my_order_path(order), remote: true, class: 'ui pink label' %>
          <%= link_to t('.destroy'), remove_my_order_path(order), method: :delete, data: { confirm: t('.confirm') }, local: true, class: 'ui red label' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
