<p>Dear Manager</p>

<p><%= @journal_transfer.transfer_subject %>. Please find the attached file for more details.</p>

<p>The file has been uploaded to redmine:
<%= link_to @journal_transfer.transfer_url, @journal_transfer.transfer_url %></p>

<% if @journal_transfer.comment.present? %>
  <p>Reason: <%= @journal_transfer.comment %></p>
<% end %>

<p>Please click current link to approve: <%= link_to my_admin_journal_transfers_url, my_admin_journal_transfers_url %></p>

<p>In case of any questions, please feel free to contact me.</p>

<p>Kind regards,</p>

<p><%= @journal_transfer.member.name %></p>
