<%= form_with theme: 'modal', model: @organ, url: { action: 'update' } do |f| %>
  <%= render 'modal_header' %>
  <section class="modal-card-body">
    <%= render 'error_messages', target: @organ %>
    <%# render partial: 'com/nodes/children_select', locals: { f: f, node: @organ.root } %>
    <%= render partial: 'form', locals: { f: f } %>
  </section>
  <%= f.submit %>
<% end %>
