<tr data-depth="<%= organ.depth_str %>">
  <td>
    <span style="width: <%= organ.depth * 1.43 %>em; display: inline-block"></span>
    <% if !organ.leaf? %>
      <i class="fas fa-caret-down fa-fw" data-action="click->tree#collapse" style="cursor: pointer"></i>
    <% else %>
      <i class="fas fa-minus fa-fw"></i>
    <% end %>
    <%= organ.name %>
    <% if organ.name_short.present? %>
      (<%= organ.name_short %>)
    <% end %>
  </td>
  <td><%= image_tag organ.logo.variant(resize_to_limit: [30, 30]) if organ.logo.attached? %></td>
  <td>
    <p><%= organ.area&.full_name %></p>
    <p><%= organ.address %></p>
  </td>
  <td>
    <%= link_to({ controller: 'organ_domains', organ_id: organ.id }, aria: { label: t('org.panel.organ_domains.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-mobile"></i>
    <% end %>
    <%= link_to({ action: 'edit', id: organ.id }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: organ.id }, method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
    <%= link_to admin_current_organ_url(host: organ.host), aria: { label: t('.mock') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-hand-point-right"></i>
    <% end %>
  </td>
</tr>
