<tr data-depth="<%= organ.depth_str %>">
  <td>
    <span style="width: <%= organ.depth * 1.43 %>em; display: inline-block;"></span>
    <% if !organ.leaf? %>
      <i class="fas fa-caret-down fa-fw"></i>
    <% else %>
      <i class="fas fa-minus fa-fw"></i>
    <% end %>
    <%= organ.name %>
    <% if organ.name_short %>
      (<%= organ.name_short %>)
    <% end %>
  </td>
  <td><%= organ.code %></td>
  <td><%= image_tag organ.logo.variant(resize_to_limit: [30, 30]) if organ.logo.attached? %></td>
  <td><%= organ.organ_uuid %></td>
  <td>
    <p><%= organ.area&.full_name %></p>
    <p><%= organ.address %></p>
  </td>
  <td>
    <%= link_to edit_admin_organ_path(organ), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to admin_organ_path(organ), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
    <%= link_to mock_admin_organ_path(organ), method: :patch, aria: { label: t('.mock') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-hand-point-right"></i>
    <% end %>
  </td>
</tr>
