<div>
  <dt><%= Org::Organ.human_attribute_name(:name) %></dt>
  <dd><%= @organ.name %></dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:logo) %></dt>
  <dd><%= image_tag @organ.logo, class: 'image is-36-h' if @organ.logo.attached? %></dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:bar_logo) %></dt>
  <dd><%= image_tag @organ.bar_logo, class: 'image is-36-h' if @organ.bar_logo.attached? %></dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:code) %></dt>
  <dd><%= @organ.code %></dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:area_id) %></dt>
  <dd><%= @organ.area&.full_name %></dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:redirect_url) %></dt>
  <dd><%= @organ.redirect_url %></dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:service_url) %></dt>
  <dd><%= @organ.service_url %></dd>
</div>
