<tr>
  <td class="has-text-right"><%= Org::Organ.human_attribute_name(:name) %></td>
  <td><%= @organ.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Org::Organ.human_attribute_name(:code) %></td>
  <td><%= @organ.code %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Org::Organ.human_attribute_name(:area_id) %></td>
  <td><%= @organ.area&.full_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Org::Organ.human_attribute_name(:redirect_controller) %></td>
  <td><%= @organ.redirect_controller %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Org::Organ.human_attribute_name(:redirect_action) %></td>
  <td><%= @organ.redirect_action %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Org::Organ.human_attribute_name(:service_url) %></td>
  <td><%= @organ.service_url %></td>
</tr>
