<tr data-depth="<%= node.depth_str %>">
  <td>
    <span style="width: <%= node.depth * 1.43 %>em; display: inline-block;"></span>
    <% if !node.leaf? %>
      <i class="fas fa-caret-down fa-fw grey link icon"></i>
    <% else %>
      <i class="fas fa-minus-circle fa-fw grey icon"></i>
    <% end %>
    <%= link_to panel_department_path(node) do %>
      <span><%= node.name %></span>
      <span class="grey text">(<%= node.all_member_departments_count %>)</span>
    <% end %>
  </td>
  <td>
    <%= node.needed_number %> /
    <span class="<%= active_asserts('red': node.needed_number.to_i > node.member_departments_count, 'grey': node.needed_number.to_i == node.member_departments_count, 'green': node.needed_number.to_i < node.member_departments_count) %> text">
      <%= node.member_departments_count %>
    </span>
  </td>
  <td><%= node.office&.name %></td>
  <td><%= node.leader&.name %></td>
  <td>
    <%= link_to panel_department_path(node), data: { tooltip: t('.show') }, class: 'ui circular mini icon button' do %>
      <i class="fas fa-users"></i>
    <% end %>
    <%#= link_to 'JD', panel_department_job_descriptions_path(node), class: 'ui circular mini icon button' %>

    <%= link_to JobTitle.human_name, panel_department_job_titles_path(node.id), class: 'ui circular mini icon button' %>
    <%= link_to edit_panel_department_path(node), data: { tooltip: t('.edit') }, class: 'ui circular mini icon button', remote: true do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to panel_department_path(node), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui circular mini icon button' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
