<tr data-depth="<%= node.depth_str %>">
  <td>
    <span><%= ('&emsp;' * node.depth * 2).html_safe %></span>
    <% unless node.leaf? %>
      <i class="fas fa-caret-down link"></i>
    <% end %>
    <%= link_to panel_department_path(node) do %>
      <span><%= node.name %></span>
      <span class="grey text">(<%= node.all_members_count %>)</span>
    <% end %>
  </td>
  <td>
    <%= node.needed_number %> /
    <span class="<%= active_asserts('red': node.needed_number.to_i > node.members_count, 'grey': node.needed_number.to_i == node.members_count, 'green': node.needed_number.to_i < node.members_count) %> text">
      <%= node.members_count %>
    </span>
  </td>
  <td><%= node.leader&.name %></td>
  <td>
    <%= link_to panel_department_path(node), data: { tooltip: t('.show') }, class: 'ui circular mini icon button' do %>
      <i class="fas fa-users"></i>
    <% end %>
    <%#= link_to 'JD', panel_department_job_descriptions_path(node), class: 'ui circular mini icon button' %>

    <% if node.root? %>
      <%= link_to JobTitle.human_name, panel_job_titles_path(department_id: node.id), class: 'ui circular mini icon button' %>
    <% end %>
    <%= link_to edit_panel_department_path(node), data: { tooltip: t('.edit') }, class: 'ui circular mini icon button', remote: true do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to panel_department_path(node), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui circular mini icon button' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
