<tr>
  <td>
    <%= member.id %>
  </td>
  <td>
    <% if member.user && member.user.avatar.present? %>
      <%= link_to admin_user_path(member.user_id) do %>
        <%= image_tag member.user.avatar.variant(resize: '35x35'), class: 'ui avatar image' %>
      <% end %>
    <% end %>
    <%= member.name %>
  </td>
  <td>
  
  </td>
  <td>
    <%= link_to member.office.name, panel_office_path(member.office_id) if member.office %>
  </td>
  <td><%= member.name %></td>
  <td><%= member.join_on %></td>
  <td>
    <%= link_to edit_panel_member_path(member), data: { tooltip: t('.edit') }, class: 'ui mini circular icon button' do %>
      <i class="pencil alternate icon"></i>
    <% end %>
    <%= link_to panel_member_path(member), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui mini circular icon button' do %>
      <i class="trash alternate icon"></i>
    <% end %>
  </td>
</tr>

