<div class="content-breadcrumb-section">
  <%= render 'layouts/breadcrumb' %>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
  <%= render 'right_menu_table_tool' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Needed / Actual</th>
      <th><%= Department.human_attribute_name(:leader) %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @departments.each do |department| %>
    <%= render partial: 'department', locals: { node: department } %>
    <%= draw_tree(department, partial: 'org/panel/departments/department') %>
  <% end %>
  </tbody>
</table>

<%= paginate @departments %>
