<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Needed / Actual</th>
      <th><%= Department.human_attribute_name(:leader) %></th>
      <th>
        <%= link_to 'New Department', new_panel_department_path, remote: true, class: 'ui mini primary button' %>
        <%= link_to t('.export'), find_data_list_table_lists_path('DepartmentExport', request.query_parameters), class: 'ui mini secondary button', remote: true %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @departments.each do |department| %>
    <%= render partial: 'department', locals: { node: department } %>
    <%= draw_tree(department, partial: 'org/panel/departments/department') %>
  <% end %>
  </tbody>
</table>

<%= paginate @departments %>
