<tr>
  <td class="has-text-right"><%= Org::OrganDomain.human_attribute_name(:domain) %></td>
  <td><%= @organ_domain.domain %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Org::OrganDomain.human_attribute_name(:subdomain) %></td>
  <td><%= @organ_domain.subdomain %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Org::OrganDomain.human_attribute_name(:host) %></td>
  <td><%= @organ_domain.host %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Org::OrganDomain.human_attribute_name(:scheme) %></td>
  <td><%= @organ_domain.scheme %></td>
</tr>
