<div>
  <dt><%= Org::OrganDomain.human_attribute_name(:domain) %></dt>
  <dd><%= @organ_domain.domain %></dd>
</div>
<div>
  <dt><%= Org::OrganDomain.human_attribute_name(:subdomain) %></dt>
  <dd><%= @organ_domain.subdomain %></dd>
</div>
<div>
  <dt><%= Org::OrganDomain.human_attribute_name(:host) %></dt>
  <dd><%= @organ_domain.host %></dd>
</div>
<div>
  <dt><%= Org::OrganDomain.human_attribute_name(:scheme) %></dt>
  <dd><%= @organ_domain.scheme %></dd>
</div>
