<div class="hero-body">
  <% @members.each do |member| %>
  <div class="media is-middle">
    <div class="media-left">
      <%= image_tag member.organ.logo.variant(resize_to_limit: [150, 150]), class: 'image is-48x48' if member.organ.logo.attached? %>
    </div>
    <div class="media-content">
      <strong><%= member.organ.name %></strong>
      <p>
        <span><%= member.departments.first&.full_name %></span>
        <span><%= member.name %></span>
      </p>
    </div>
    <div class="media-right">
      <%= link_to '进入', login_my_member_path(member), method: :patch, remote: true, class: 'button' %>
    </div>
  </div>
  <% end %>
  <div class="media">
    <div class="media-content">
      <%= link_to new_my_organ_path, remote: true do %>
        <i class="fas fa-plus"></i><%= t('org.my.organs.new.title') %>
      <% end %>
    </div>
  </div>
</div>
