<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= RecruitmentPlan.human_attribute_name(:id) %></th>
      <th>ME</th>
      <th><%= RecruitmentPlan.human_attribute_name(:journal) %></th>
      <th>AE count</th>
      <th>ME count</th>
      <th><%= RecruitmentPlan.human_attribute_name(:state) %></th>
      <th><%= RecruitmentPlan.human_attribute_name(:rejected) %></th>
      <th><%= RecruitmentPlan.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @recruitment_plans.each do |recruitment_plan| %>
    <tr>
      <td><%= recruitment_plan.id %></td>
      <td><%= recruitment_plan.member.name %></td>
      <td><%= recruitment_plan.journal.name_short %></td>
      <td><%= recruitment_plan.ae_count %></td>
      <td><%= recruitment_plan.me_count %></td>
      <td class="ui labels">
        <% if recruitment_plan.rejected && recruitment_plan.this_operator== current_member %>
        <label class="ui label">Rejected</label>
          <% else %>
          <label class="ui label"><%= recruitment_plan.state_i18n %></label>
        <% end %>
      </td>
      <td><%= recruitment_plan.rejected ? 'Yes' : 'No' %></td>
      <td><%= recruitment_plan.created_at %></td>
      <td class="ui labels">
        <%= link_to 'Details', admin_recruitment_plan_path(recruitment_plan), class: 'ui green label' %>
        <%= link_to 'Edit', edit_admin_recruitment_plan_path(recruitment_plan), class: 'ui pink label' %>
        <%= link_to 'Delete', admin_recruitment_plan_path(recruitment_plan), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @recruitment_plans %>
