<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_recruitment_plans_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Show</div>
</div>

<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="three wide"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= RecruitmentPlan.human_attribute_name(:member) %></td>
      <td><%= @recruitment_plan.member.name %></td>
    </tr>
    <tr>
      <td class="right aligned">Journal</td>
      <td><%= @recruitment_plan.journal&.name_short %></td>
    </tr>
    <tr>
      <td class="right aligned">AE count</td>
      <td><%= @recruitment_plan.ae_count %></td>
    </tr>
    <tr>
      <td class="right aligned">ME count</td>
      <td><%= @recruitment_plan.me_count %></td>
    </tr>
    <tr>
      <td class="right aligned">State</td>
      <td><%= @recruitment_plan.state_i18n %></td>
    </tr>
    <tr>
      <td class="right aligned">Comment</td>
      <td><p><%= @recruitment_plan.comment %></p></td>
    </tr>
    <tr>
      <td class="right aligned"><%= RecruitmentPlan.human_attribute_name(:created_at) %></td>
      <td><time><%= @recruitment_plan.created_at&.to_s(:rfc822) %></time></td>
    </tr>
    <tr><td></td>
      <td>
        <%= link_to 'Edit', edit_admin_recruitment_plan_path(@recruitment_plan), class: 'ui pink label' %>
        <%= link_to t('.destroy'), admin_recruitment_plan_path(@recruitment_plan), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  </tbody>
</table>
