<th><%= Org::Member.human_attribute_name(:id) %></th>
<th>
  <p><%= Org::Member.human_attribute_name(:name) %></p>
  <p class="text-grey"><%= Org::Member.human_attribute_name(:identity) %></p>
</th>
<% if defined? RailsWechat %>
<th>
  <p><%= Org::Member.human_attribute_name(:wechat_openid) %></p>
  <p><%= Org::Member.human_attribute_name(:corp_userid) %></p>
</th>
<% end %>
<th><%= Org::Member.human_attribute_name(:join_on) %></th>
<th><%= Org::Member.human_attribute_name(:role_ids) %></th>
<th><%= Org::Member.human_attribute_name(:admin) %></th>
<th>
  <p><%= Org::Member.human_attribute_name(:enabled) %></p>
</th>
