<div class="media">
  <div class="media-left">
    <% if request.wechat_user.avatar_url.present? %>
      <%= image_tag request.wechat_user.avatar_url, class: 'image is-64x64' %>
    <% else %>
      <%= image_tag 'avatar.png', class: 'image is-64x64' %>
    <% end %>
  </div>
  <div class="media-content">
    <h4 class="weui-media-box__title">
      <span><%= request.wechat_user.name %></span>
      <span class="tag is-danger"><%= request.type_i18n %></span>
      <% if request.wechat_user.members.pluck(:member_inviter_id).include?(@member.id) %>
        <span class="tag is-success">邀请成功</span>
      <% else %>
        <span class="tag">曾注册用户</span>
      <% end %>
    </h4>
    <p class="weui-media-box__desc">
      <time data-controller="time" data-format="human"><%= request.wechat_user.created_at.to_fs(:iso8601) %></time>
    </p>
    <p class="weui-media-box__desc">
      <time data-controller="time" data-format="human"><%= request.created_at.to_fs(:iso8601) %></time>
    </p>
  </div>
</div>
