<%= button_to({ action: 'destroy' }, method: :delete, form: { data: { turbo_confirm: t('.destroy.confirm'), class: 'cell' } }, class: ' has-column-centered has-text-danger') do %>
  <i class="fa-solid fa-trash"></i>
  <span><%= t('.destroy.title') %></span>
<% end %>
<%= button_to({ action: 'edit' }, class: 'cell has-column-centered') do %>
  <i class="fa-solid fa-pencil"></i>
  <span><%= t('.edit.title') %></span>
<% end %>
<%= link_to({ action: 'show' }, class: 'cell has-column-centered') do %>
  <i class="fa-solid fa-circle-info"></i>
  <span><%= t('.show.title') %></span>
<% end %>
<%= button_to({ controller: 'roled/admin/who_roles', action: 'show', who_type: 'Org::Member', who_id: model.id }, class: 'cell has-column-centered') do %>
  <i class="fa-solid fa-user-shield"></i>
  <span><%= '权限管理' %></span>
<% end %>