<%= search_form_with model: Member.new do |f| %>
  <div class="fields">
    <%= f.text_field :'name-like' %>
    <%= f.text_field :identity %>
    <%= f.submit %>
    <%= link_to t('.clear'), filter_params(except: [:'name-like', :identity]), class: 'ui button' %>
  </div>
<% end %>
<div class="ui divider"></div>
<dl>
  <dt><%= Member.human_attribute_name(:enabled) %></dt>
  <dd>
    <%= link_to t('.enabled'), filter_params(enabled: 1), class: active_params(enabled: 1, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <%= link_to t('.disabled'), filter_params(enabled: 0), class: active_params(enabled: 0, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
  </dd>
</dl>
<% if current_organ %>
<dl>
  <dt><%= MemberDepartment.human_attribute_name(:organ_id) %></dt>
  <dd>
    <%= link_to t('.all'), filter_params(organ_id: ''), class: active_params(organ_id: nil, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <%= link_to current_organ.name, filter_params(organ_id: current_organ.id), class: active_params(organ_id: current_organ.id, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% current_organ.children.each do |organ| %>
      <%= link_to organ.name, filter_params(organ_id: organ.id), class: active_params(organ_id: organ.id, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
  </dd>
</dl>
<% end %>
