<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <span data-show-target="item" style="visibility: hidden">
      <%= link_to({ action: 'show', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.show') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-circle-info"></i>
      <% end %>
      <%= link_to({ action: 'profile', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.profile') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-id-card"></i>
      <% end %>
      <%= link_to({ action: 'edit', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-pencil"></i>
      <% end %>
      <%= link_to({ action: 'mock', id: model.id }, method: :patch, aria: { label: t('.mock') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-light fa-hand-point-right"></i>
      <% end if model.user_id != current_user.id %>
      <%# link_to 'tutorials', admin_tutorials_path(member_id: model.id), class: 'ui mini circular button' %>
    </span>
  </td>
</tr>
