<div class="field is-horizontal" id="member_member_departments_<%= ef.index %>" data-title="member_member_departments" data-controller="field" data-field-index-value="<%= ef.index %>">
  <% if ef.index == 0 %>
    <%= ef.options[:parent_builder].label :member_departments %>
  <% else %>
    <div class="field-label"></div>
  <% end %>
  <div class="field-body control">
    <% if params[:department_id] %>
      <%= ef.hidden_field :department_id, value: params[:department_id] %>
    <% else %>
      <% if ef.object.department %>
        <% ef.object.department.self_and_ancestors.reverse_each do |node| %>
          <%= render partial: 'outer_options', locals: { f: ef, node: node, outer: 'department', depth: node.depth } %>
        <% end %>
      <% else %>
        <%= render partial: 'outer_options', locals: { f: ef, node: Org::Department.new(organ_id: current_organ&.id), outer: 'department', depth: 0 } %>
      <% end %>
    <% end %>
    <div class="field is-narrow" id="job_title_id_wrap_<%= ef.index %>">
      <%= ef.collection_select :job_title_id, ef.object.job_title_options, :id, :name, { include_blank: true, label: false, wrap: { all: nil, select: 'select is-fullwidth' } }, { data: { title: 'job_title_id', as: ef.object_name } } %>
    </div>
    <div class="field has-addons has-addons-middle">
      <i class="fas fa-plus fa-lg" data-action="click->field#add" style="cursor: pointer"></i>
      <i class="fas fa-minus fa-lg" data-action="click->field#remove" style="cursor: pointer"></i>
    </div>
  </div>
</div>
