<%= form_with theme: 'modal', model: @member, url: { action: 'update' } do |f| %>
  <%= render 'modal_header' %>
  <div class="modal-card-body">
    <%= render 'error_messages', target: @member %>
    <% f.fields :role_who_attributes, model: @roles do |ef| %>
      <%= ef.check_box :role_id %>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>
