<div class="field is-horizontal" id="member_member_departments_<%= ef.index %>" data-title="member_member_departments">
  <% if ef.index == 0 %>
    <%= ef.options[:parent_builder].label :member_supers %>
  <% else %>
    <label class="field-label">负责部门</label>
  <% end %>
  <div class="field-body control">
    <div class="field is-narrow" id="job_title_id_wrap_<%= ef.index %>">
      <%= ef.collection_select :super_job_title_id, ef.object.super_job_title_options, :id, :name, { include_blank: true, label: false, wrap: { all: nil, select: 'select is-fullwidth' } }, { data: { title: 'job_title_id', as: ef.object_name } } %>
    </div>
    <div class="field has-addons">
      <%= link_to add_item_admin_members_path('item', index: ef.index), data: { title: 'add_item' }, remote: true do %>
        <i class="fas fa-plus"></i>
      <% end %>
      <% if ef.object.id %>
        <%= ef.check_box :_destroy, { checked: false, label: '移除', origin: { offset: nil }, wrap: { checkbox: nil } } %>
      <% else %>
        <%= link_to remove_item_admin_members_path('item', index: ef.index), remote: true do %>
          <i class="fas fa-minus"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
