<div class="ui vertical fluid icon menu">
  <div class="header center link item" id="close_side">
    <i class="content icon"></i>
  </div>
  
  <% if current_member.any_role?('hr_admin/departments', 'hr_admin/offices') %>
  <div class="item ui dropdown">
    <a class="<%= active_helper(controllers: ['offices', 'departments', 'department_journals', 'job_descriptions', 'supports'], active_class: 'title active', item_class: 'title') %>">
      <i class="users icon"></i>
      <span>Departments</span>
    </a>
    <div class="<%= active_helper(controllers: ['offices', 'departments', 'department_journals', 'job_descriptions', 'supports'], active_class: 'active menu content', item_class: 'menu content') %>">
      <%= link_to 'Departments', admin_departments_path, class: active_helper(controllers: ['departments', 'department_journals', 'job_descriptions']) %>
      <%= link_to 'Offices', admin_offices_path, class: active_helper(controllers: 'offices') %>
      <%= link_to 'Supports', admin_supports_path, class: active_helper(controllers: 'supports') %>
    </div>
  </div>
  <% end %>
  
  <% if current_member.any_role?('hr_admin/members', 'hr_admin/tutorials', 'hr_admin/job_transfers', 'hr_admin/resigns', 'hr_admin/interviewees') %>
  <div class="item ui dropdown">
    <a class="<%= active_helper(controllers: ['members', 'tutorials', 'job_transfers', 'resigns', 'resign_reasons', 'interviewees', 'email_templates'], active_class: 'title active', item_class: 'title') %>">
      <i class="user icon"></i>
      <span>HR Management</span>
    </a>
    <div class="<%= active_helper(controllers: ['members', 'tutorials', 'job_transfers', 'resigns', 'resign_reasons', 'interviewees', 'email_templates', 'email_histories', 'recruitment_plans', 'bands', 'job_titles'], active_class: 'menu content active', item_class: 'menu content') %>">
      <%= link_to 'Interviewees', admin_interviewees_path, class: active_helper(controllers: ['interviewees']) %>
      <%= link_to 'Employees', admin_members_path, class: active_helper(controllers: ['members']) %>
      <%= link_to 'Tutorials', admin_tutorials_path, class: active_helper(controllers: ['tutorials']) %>
      <%= link_to 'Job Transfers', admin_job_transfers_path, class: active_helper(controllers: ['job_transfers']) %>
      <%= link_to 'Resigns', admin_resigns_path, class: active_helper(controllers: ['resigns', 'resign_reasons']) %>
      <%= link_to 'Recruitment Plans', admin_recruitment_plans_path, class: active_helper(controllers: ['recruitment_plans']) %>
      <%= link_to 'Bands', admin_bands_path, class: active_helper(controllers: ['bands']) %>
      <%= link_to 'Job Titles', admin_job_titles_path, class: active_helper(controllers: ['job_titles']) %>
    </div>
  </div>
  <% end %>

  <% if current_member.any_role?('hr_admin/documents') %>
  <div class="item ui dropdown">
    <a class="<%= active_helper(controllers: ['documents'], active_class: 'title active', item_class: 'title') %>">
      <i class="cubes icon"></i>
      <span>Others</span>
    </a>
    <div class="<%= active_helper(controllers: ['documents'], active_class: 'menu content active', item_class: 'menu content') %>">
      <%= link_to 'Documents', admin_documents_path, class: active_helper(controllers: ['documents']) %>
    </div>
  </div>
  <% end %>
  
</div>

