<tr>
  <td>
    <% if member.user && member.user.avatar.present? %>
      <%= link_to admin_user_path(member.user_id) do %>
        <%= image_tag member.user.avatar.variant(resize_to_limit: [35, 35]), class: 'ui avatar image' %>
      <% end %>
    <% end %>
    <%= member.name %>
  </td>
  <td>

  </td>
  <td><%= member.office&.name %></td>
  <td><%= member.join_on %></td>
  <td>
    <%= link_to edit_admin_member_path(member), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
  </td>
</tr>

