<%= content_for :breadcrumb do %>
  <ul>
    <li><%= link_to t('org.member.departments.index.title'), my_departments_path %></li>
  </ul>
<% end %>

<%= render 'filter_form' %>

<div class="columns">
  <div class="column">
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th><%= Member.human_attribute_name(:name) %></th>
          <th><%= Member.human_attribute_name(:job_titles) %></th>
          <th><%= Member.human_attribute_name(:office) %></th>
          <th><%= Member.human_attribute_name(:join_on) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @members.each do |member| %>
        <%= render partial: 'member', locals: { member: member } %>
      <% end %>
      </tbody>
    </table>
  
    <%= paginate @members %>
  </div>
  <div class="column is-narrow" style="width: 260px;">
    <%= render 'nav_show' %>
  </div>
</div>



