<div class="ui top attached borderless menu">
  <div class="header item">bands</div>
  <div class="right menu">
    <div class="item"><%= link_to 'New band', new_admin_band_path, class: 'ui teal button' %></div>
  </div>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= Band.human_attribute_name(:id) %></th>
      <th><%= Band.human_attribute_name(:name) %></th>
      <th><%= Band.human_attribute_name(:role) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @bands.each do |band| %>
    <tr>
      <td><%= band.id %></td>
      <td><%= band.name %></td>
      <td><%= band.role %></td>
      <td>
        <%= link_to t('.edit'), edit_admin_band_path(band), class: 'ui pink label' %>
        <%= link_to t('.destroy'), admin_band_path(band), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @bands %>
