<p>
  <span style="width: <%= model.depth * 1.43 %>em; display: inline-block"></span>
  <% if model.leaf? %>
    <i class="fa-solid fa-fw fa-minus"></i>
  <% else %>
    <i class="fa-solid fa-fw fa-caret-right" style="cursor: pointer" data-action="click->tree#expand"></i>
  <% end %>
  <%= link_to({ action: 'show', id: model.id}) do %>
    <span><%= model.name %></span>
    <span class="text-grey">(<%= model.all_member_departments_count %>)</span>
  <% end %>
</p>
<p>
  <%= model.needed_number %> /
  <span class="<%= active_asserts('red': model.needed_number.to_i > model.member_departments_count, 'grey': model.needed_number.to_i == model.member_departments_count, 'green': model.needed_number.to_i < model.member_departments_count) %> text">
    <%= model.member_departments_count %>
  </span>
</p>
<div>
  <% model.job_titles.each do |job_title| %>
    <div class="button is-small is-light" aria-label="<%= job_title.grade %>"><%= job_title.name %></div>
  <% end %>
  <%= link_to({ controller: 'job_titles', department_id: model.id }, aria: { label: t('.job_title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-user-tag"></i>
  <% end %>
</div>
<p>
  <%= link_to model.leader.name, { controller: 'members', action: 'show', id: model.leader.id } if model.leader %>
</p>
