<td>
  <div class="is-several">
    <%= image_tag model.avatar.variant(resize_to_limit: [35, 35]), class: 'image is-24x24' if model.avatar.attached? %>
    <%= link_to model.display_name, { action: 'show', id: model } %>
  </div>
  <p class="color-grey"><%= model.identity %></p>
</td>
<td>
  <% model.member_departments.each do |md| %>
    <p>
      <%= link_to md.department.full_name, { controller: 'departments', action: 'show', id: md.department_id } %>
      <span><%= md.job_title.name %></span>
    </p>
  <% end %>
</td>
<td><%= model.join_on %></td>
<td>
  <div class="tags">
    <% model.roles.pluck(:name).each do |role| %>
      <span class="tag"><%= role %></span>
    <% end %>
    <%= link_to({ controller: 'roled/admin/who_roles', action: 'show', who_type: 'Org::Member', who_id: model.id }, data: { turbo_frame: 'modal' }) do %>
      <i class="fa-solid fa-user-shield"></i>
    <% end %>
  </div>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :enabled, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :inviter, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
