<div>
  <div class="is-several">
    <%= image_tag model.avatar.variant(resize_to_limit: [35, 35]), class: 'image is-24x24' if model.avatar.attached? %>
    <%= link_to model.display_name, { action: 'show', id: model } %>
  </div>
  <span class="color-grey"><%= model.identity %></span>
</div>
<div>
  <% model.member_departments.each do |md| %>
    <span>
      <%= link_to md.department.full_name, { controller: 'departments', action: 'show', id: md.department_id } %>
      <span class="tag"><%= md.job_title.name %></span>
    </span>
  <% end %>
</div>
<p><%= model.join_on %></p>
<div class="tags">
  <% model.roles.pluck(:name).each do |role| %>
    <span class="tag"><%= role %></span>
  <% end %>
</div>
