<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= Tutorial.human_attribute_name(:member) %></th>
      <th><%= Tutorial.human_attribute_name(:tutor) %></th>
      <th><%= Tutorial.human_attribute_name(:kind) %></th>
      <th>
        <p><%= Tutorial.human_attribute_name(:start_on) %></p>
        <p><%= Tutorial.human_attribute_name(:finish_on) %></p>
      </th>
      <th>
        <p><%= Tutorial.human_attribute_name(:state) %></p>
        <p><%= Tutorial.human_attribute_name(:accepted_status) %></p>
      </th>
      <th><%= Tutorial.human_attribute_name(:performance) %></th>
      <th><%= Tutorial.human_attribute_name(:allowance) %></th>
      <th><%= Tutorial.human_attribute_name(:verified) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @tutorials.each do |tutorial| %>
    <tr>
      <td><%= tutorial.id %></td>
      <td>
        <%= link_to tutorial.member.name, admin_member_path(tutorial.member_id) if tutorial.member %>
      </td>
      <td>
        <%= link_to tutorial.tutor.name, admin_member_path(tutorial.tutor_id) if tutorial.tutor %>
      </td>
      <td><%= tutorial.kind_i18n %></td>
      <td>
        <p><%= tutorial.start_on %></p>
        <p><%= tutorial.finish_on %></p>
      </td>
      <td class="ui labels">
        <p><span class="ui label"><%= tutorial.state_i18n %></span></p>
        <p><span class="ui label"><%= tutorial.accepted_status_i18n %></span></p>
      </td>
      <td><%= tutorial.performance %></td>
      <td><%= tutorial.allowance %></td>
      <td><%= tutorial.verified_i18n %></td>
      <td class="ui labels">
        <%#= link_to 'Show', admin_tutorial_path(tutorial), class: 'ui blue label' %>
        <%= link_to t('.edit'), edit_admin_tutorial_path(tutorial), class: 'ui pink label' %>
        <%= link_to t('.destroy'), admin_tutorial_path(tutorial), method: :delete, data: { confirm: t('.confirm') }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


