<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_org_admin_organ_grant_path(@organ_grant), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-text-right"><%= OrganGrant.human_attribute_name(:user) %></td>
      <td><%= @organ_grant.user %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= OrganGrant.human_attribute_name(:member) %></td>
      <td><%= @organ_grant.member %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= OrganGrant.human_attribute_name(:token) %></td>
      <td><%= @organ_grant.token %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= OrganGrant.human_attribute_name(:expired_at) %></td>
      <td><%= @organ_grant.expired_at %></td>
    </tr>
  </tbody>
</table>
