<% content_for :breadcrumb do %>
<div class="content-breadcrumb-section">
  <%= render 'layouts/breadcrumb' %>
</div>
<% end %>

<div class="ui attached segment">
  <%= render 'search_form' %>
  <%= render 'right_menu_table_tool' %>
</div>

<!--<div class="ui top attached borderless menu">-->
<!--  <div class="header item">Offices</div>-->
<!--  <div class="right menu">-->
<!--    <div class="item"><%#= link_to 'New Office', new_panel_office_path, class: 'ui teal button' %></div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="ui attached segment">-->
  <%#= render 'search_form' %>
<!--</div>-->

<table class="ui bottom attached table">
  <thead>
  <tr>
    <th>ID</th>
    <th>
      <%= Office.human_attribute_name(:name) %>(<%= Office.human_attribute_name(:name_short) %>)
    </th>
    <th><%= Office.human_attribute_name(:area) %></th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @offices.each do |office| %>
    <tr>
      <td><%= office.id %></td>
      <td><%= office.name %>(<%= office.name_short %>)</td>
      <td><%= office.area.full_name %></td>
      <td class="ui labels">
        <%= link_to '教室', panel_office_rooms_path(office.id), class: 'ui blue label' %>
        <%= link_to 'Supports', panel_supports_path(office_id: office.id), class: 'ui blue label' %>
        <%= link_to t('.edit'), edit_panel_office_path(office), class: 'ui pink label' %>
        <%= link_to t('.destroy'), panel_office_path(office), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @offices %>
