<% content_for :breadcrumb do %>
  <%= render 'breadcrumb' %>
<% end %>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= Office.human_attribute_name(:id) %></th>
      <th>
        <%= Office.human_attribute_name(:name) %>(<%= Office.human_attribute_name(:name_short) %>)
      </th>
      <th><%= Office.human_attribute_name(:area) %></th>
      <th>
        <%= link_to new_panel_office_path, remote: true, class: 'ui mini primary button' do %>
          <i class="plus icon"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @offices.each do |office| %>
    <tr>
      <td><%= office.id %></td>
      <td><%= office.name %>(<%= office.name_short %>)</td>
      <td><%= office.area.full_name %></td>
      <td>
        <%= link_to Room.human_name, panel_office_rooms_path(office.id), class: 'ui mini circular button' %>
        <%# link_to 'Supports', panel_supports_path(office_id: office.id), class: 'ui mini circular button' %>
        <%= link_to edit_panel_office_path(office), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to panel_office_path(office), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @offices %>
