<% content_for :breadcrumb do %>
  <%= render 'breadcrumb' %>
<% end %>

<div class="ui top attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th>
        <%= Office.human_attribute_name(:name) %>(<%= Office.human_attribute_name(:name_short) %>)
      </th>
      <th><%= Office.human_attribute_name(:area) %></th>
      <th><%= Office.human_attribute_name(:address) %></th>
      <th>
        <%= link_to new_panel_office_path, remote: true, class: 'ui mini primary button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @offices.each do |office| %>
    <%= render partial: 'office', object: office %>
    <%= draw_tree(partial: 'org/panel/offices/office', object: office) %>
  <% end %>
  </tbody>
</table>

<%= paginate @offices %>
