<%= link_to({ controller: 'auth/board/users', action: 'show' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-solid fa-fw fa-square-info"></i>
    <span><%= t('auth.board.users.show.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
<%= link_to({ controller: 'auth/board/accounts' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-solid fa-fw fa-user-group"></i>
    <span><%= t('auth.board.accounts.index.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
<%= link_to({ controller: 'auth/board/oauth_users' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-solid fa-fw fa-id-card"></i>
    <span><%= t('auth.board.oauth_users.index.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
