<%= link_to({ controller: 'auth/board/users', action: 'show' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-square-info"></i>
    <span><%= t('auth.board.users.show.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<%= link_to({ controller: 'auth/board/accounts' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-user-group"></i>
    <span><%= t('auth.board.accounts.index.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<%= link_to({ controller: 'auth/board/oauth_users' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-id-card"></i>
    <span><%= t('auth.board.oauth_users.index.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
