<td><%= link_to model.host, model.redirect_url(port: request.port), target: '_blank' %></td>
<td><%= model.kind_i18n %></td>
<td><%= model.beian %></td>
<td>
  <p><%= model.redirect_controller %></p>
  <p><%= model.redirect_action %></p>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :default, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
