<tr>
  <td><%= authorized_token.user_id %></td>
  <td><%= authorized_token.oauth_user_id %></td>
  <td style="word-break: break-all"><%= authorized_token.id %></td>
  <td><time data-controller="time"><%= authorized_token.expire_at.to_fs(:iso8601) %></time></td>
  <td><%= authorized_token.mock_member %></td>
  <td>
    <%= link_to({ action: 'show', id: authorized_token.id }, { aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fa-solid fa-circle-info"></i>
    <% end %>
    <%= link_to({ action: 'edit', id: authorized_token.id }, { aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
    <%= link_to({ action: 'destroy', id: authorized_token.id }, { method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-rounded is-light' }) do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </td>
</tr>
