<td><%= model.to_office.name %></td>
<td><%= model.to_department&.full_name %></td>
<td><%= model.reason_note %></td>
<td><%= model.transfer_on %></td>
<td>
  <span><%= model.state_i18n %></span>
</td>
