<%= search_form_with model: Member.new do |f| %>
  <div class="fields">
    <%= f.text_field :'name-like' %>
    <%= f.email_field :email %>
    <%= f.submit 'Search' %>
  </div>
<% end %>

<dl>
  <dt>Office:</dt>
  <dd>
    <%= link_to 'All', filter_params(except: [:office_id]), class: active_params(office_id: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% Office.all.each do |office| %>
      <%= link_to "#{office.name}（#{office.enabled_members_count}）", filter_params(office_id: office.id), class: active_params(office_id: office.id, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
  </dd>
</dl>
