<%= render 'filter_form' %>
<%= render 'filter_table' %>

<div class="box">
  <% @members.each do |member| %>
  <div class="card">
    <%= link_to member_path(member), class: 'image' do %>
      <%= image_tag member.avatar.variant(resize_to_limit: [150, 150]) if member.avatar.attached? %>
    <% end %>
    <div class="content">
      <span>
        <%= link_to member_path(member) do %>
          <i class="fas fa-user"></i><%= member.name %>
        <% end %>
      </span>
    </div>
    <div class="extra content">
      <span><%= member.departments.map(&:full_name).join(', ') %></span>
    </div>
  </div>
  <% end %>
</div>

<%= paginate @members %>
