<%= render 'filter_form' %>
<%= render 'filter_table' %>

<div class="box">
  <% @members.each do |member| %>
  <div class="card">
    <%= link_to({ controller: '/org/members', action: 'show', id: member.id }, class: 'image') do %>
      <%= image_tag member.avatar.variant(resize_to_limit: [150, 150]) if member.avatar.attached? %>
    <% end %>
    <div class="content">
      <span>
        <%= link_to({ action: 'show', id: member.id }) do %>
          <i class="fa-light fa-user"></i><%= member.name %>
        <% end %>
      </span>
    </div>
    <div class="extra content">
      <span><%= member.departments.map(&:full_name).join(', ') %></span>
    </div>
  </div>
  <% end %>
</div>

<%= paginate @members %>
