<div data-controller="empty" class="weui-panel is-box is-borderless">
  <div class="weui-panel__hd is-flex is-justify-content-space-between">
    <div>
      <i class="fa-solid fa-fw fa-building"></i>
      <span><%= t('org.me.title') %></span>
    </div>
    <%= link_to({ controller: 'org/admin/home' }, class: 'has-text-grey') do %>
      <i class="fa-solid fa-cogs"></i>
    <% end %>
  </div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile is-flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
      <%= link_to({ controller: 'org/me/members', action: 'show' }, class: 'column has-block-centered') do %>
        <div class="has-text-grey-dark">
          <i class="fa-solid fa-user-gear fa-fw fa-xl"></i>
        </div>
        <div class="has-text-dark"><%= t('org.me.members.show.title') %></div>
      <% end %>
      <%= link_to({ controller: 'org/me/departments' }, class: 'column has-block-centered') do %>
        <div class="has-text-grey-dark">
          <i class="fa-solid fa-chalkboard-user fa-fw fa-xl"></i>
        </div>
        <div class="has-text-dark"><%= t('org.me.departments.index.title') %></div>
      <% end %>
    </div>
  </div>
</div>
