<div data-controller="empty" class="weui-panel is-box is-borderless">
  <div class="weui-panel__hd flex justify-content-space-between">
    <div>
      <i class="fa-solid fa-fw fa-building text-primary"></i>
      <span><%= t('org.me.title') %></span>
    </div>
    <%= link_to({ controller: 'org/admin/home' }, class: 'text-grey') do %>
      <i class="fa-solid fa-cogs"></i>
    <% end %>
  </div>
  <div class="weui-panel__bd">
    <div class="columns is-4-mobile flex is-vcentered is-centered m-0 is-shadow" data-empty-target="content">
      <%= link_to({ controller: 'org/me/members', action: 'show' }, class: 'column has-column-centered') do %>
        <div class="text-primary">
          <i class="fa-solid fa-fw fa-xl fa-user-gear"></i>
        </div>
        <div class="text-grey size-7 mt-1"><%= t('org.me.members.show.title') %></div>
      <% end %>
      <%= link_to({ controller: 'org/me/members', action: 'qrcodes' }, class: 'column has-column-centered') do %>
        <div class="text-primary">
          <i class="fa-solid fa-fw fa-xl fa-qrcode"></i>
        </div>
        <div class="text-grey size-7 mt-1"><%= t('org.me.members.qrcodes.title') %></div>
      <% end %>
      <%= link_to({ controller: 'org/me/departments' }, class: 'column has-column-centered') do %>
        <div class="text-primary">
          <i class="fa-solid fa-fw fa-xl fa-chalkboard-user"></i>
        </div>
        <div class="text-grey size-7 mt-1"><%= t('org.me.departments.index.title') %></div>
      <% end %>
    </div>
  </div>
</div>
