
<% if current_authorized_token.member %>
  <div class="navbar-item has-dropdown is-hoverable">
    <div class="navbar-link is-arrowless">
      <i class="fas fa-user-secret"></i>
      <span>Mock 模式</span>
    </div>
    <div class="navbar-dropdown">
      <%= link_to '退出mock', admin_root_url, class: 'navbar-item' %>
    </div>
  </div>
<% end %>
<div class="navbar-item has-dropdown is-hoverable">
  <div class="navbar-link">
    <%= image_tag current_member.avatar, class: 'image is-24x24' if current_member.avatar.attached? %>
    <%= current_member.name %>
  </div>
  <div class="navbar-dropdown is-right">
    <%= link_to '个人中心', me_root_url, class: active_helper(controllers: ['users'], active: 'navbar-item is-active', item: 'navbar-item') %>
    <%= link_to '管理', admin_root_url, class: 'navbar-item' %>
    <%= link_to '退出', logout_path, data: { confirm: '确认退出' }, class: 'navbar-item' %>
  </div>
</div>
