<%= search_form_with model: EmailTemplate.new do |f| %>
  <div class="fields">
    <%= f.text_field :'name-like', placeholder: 'Name' %>
    <%= f.text_field :'category-like', placeholder: 'Category' %>
    <%= f.text_field :'subject-like', placeholder: 'Subject' %>
    <%= f.submit 'Search' %>
  </div>
<% end %>


