<div>
  <dt><%= Org::Member.human_attribute_name(:avatar) %></dt>
  <dd><%= image_tag @member.avatar, class: 'image is-64x64' if @member.avatar.attached? %></dd>
</div>
<div>
  <dt><%= Org::Member.human_attribute_name(:name) %></dt>
  <dd><%= @member.display_name %></dd>
</div>
<div>
  <dt><%= Org::Member.human_attribute_name(:identity) %></dt>
  <dd><%= @member.identity %></dd>
</div>
<div>
  <dt><%= Org::Member.human_attribute_name(:join_on) %></dt>
  <dd><%= @member.join_on %></dd>
</div>
<% if @member.departments.present? %>
<div>
  <dt><%= Org::Member.human_attribute_name(:department_id) %></dt>
  <dd>
    <% @member.departments.each do |department| %>
      <p><%= department.full_name %></p>
    <% end %>
  </dd>
</div>
<% end %>
