<% content_for :breadcrumb do %>
  <div class="ui basic segment breadcrumb">
    <%= link_to t('org.panel.departments.index.title'), panel_departments_path, class: 'section' %>
    <% if params[:department_id] %>
    <i class="fas fa-angle-right divider"></i>
    <%= link_to @department.name, panel_department_path(params[:department_id]), class: 'section' %>
    <% end %>
    <i class="fas fa-angle-right divider"></i>
    <div class="active section"><%= JobTitle.human_name %></div>
  </div>
<% end %>

<%= render 'filter' %>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= JobTitle.human_attribute_name(:id) %></th>
      <th><%= JobTitle.human_attribute_name(:grade) %></th>
      <th><%= JobTitle.human_attribute_name(:name) %></th>
      <th><%= JobTitle.human_attribute_name(:description) %></th>
      <th><%= JobTitle.human_attribute_name(:department_id) %></th>
      <th>
        <%= link_to new_panel_department_job_title_path(@department), class: 'ui mini primary button', remote: true do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @job_titles.each do |job_title| %>
    <tr>
      <td><%= job_title.id %></td>
      <td>
        <%= job_title.grade %>
      </td>
      <td><%= job_title.name %></td>
      <td><%= job_title.description %></td>
      <td><%= job_title.department.full_name %></td>
      <td class="ui labels">
        <%= link_to edit_panel_department_job_title_path(@department, job_title), data: { tooltip: t('.edit') }, class: 'ui mini circular icon button', remote: true do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to panel_department_job_title_path(@department, job_title), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @job_titles %>
