<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_admin_organ_handle_path(@organ_handle), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= OrganHandle.human_attribute_name(:name) %></td>
      <td><%= @organ_handle.name %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= OrganHandle.human_attribute_name(:description) %></td>
      <td><%= @organ_handle.description %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= OrganHandle.human_attribute_name(:record_class) %></td>
      <td><%= @organ_handle.record_class %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= OrganHandle.human_attribute_name(:record_column) %></td>
      <td><%= @organ_handle.record_column %></td>
    </tr>
  </tbody>
</table>
