<% if current_organ %>
  <%= link_to root_url(host: RailsCom.config.host), class: 'navbar-item' do %>
    <%= image_pack_tag 'logo.jpg', class: 'image' %>
  <% end %>
  <%= link_to filter_params(host: current_organ.host), class: active_params(organ_id: current_organ.id) do %>
    <%= image_tag current_organ.logo, class: 'image' if current_organ.logo.attached? %>
    <span><%= current_organ.name %></span>
  <% end %>
  <% if current_authorized_token&.mock %>
    <%= link_to logout_panel_organ_path, remote: true, class: 'navbar-item' do %>
      <i class="fas fa-user-secret"></i>
    <% end %>
  <% end %>
  <div class="navbar-item">
    <% if current_organ.children.count > 0 %>
      <%= render partial: 'application/outer_search_options', locals: { node: current_organ.children.first } %>
    <% end %>
  </div>
<% else %>
  <%= link_to root_url(host: RailsCom.config.host), class: 'navbar-item' do %>
    <%= image_pack_tag 'logo.jpg', class: 'image' %>
  <% end %>
<% end %>
