<%= link_to({ controller: 'trade/our/carts', action: 'list' }, class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-solid fa-fw fa-arrow-right-arrow-left has-text-primary"></i>
    <span class="has-text-grey"><%= current_client.organ.name %></span>
  </div>
  <div class="weui-cell__ft">
    <span class="has-text-grey has-text-weight-normal">切换</span>
  </div>
<% end %>
<%= link_to({ controller: 'org/me/members', action: 'show', host: current_client.organ.host, auth_token: current_account.auth_token }, state: 'enter', class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-solid fa-fw fa-user has-text-primary"></i>
    <span><%= t('org.me.members.show.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
<%= link_to({ controller: 'org/me/members', action: 'qrcodes', host: current_client.organ.host, auth_token: current_account.auth_token }, state: 'enter', class: 'weui-cell weui-cell_access') do %>
  <div class="weui-cell__bd">
    <i class="fa-solid fa-fw fa-qrcode has-text-primary"></i>
    <span><%= t('org.me.members.qrcodes.title') %></span>
  </div>
  <div class="weui-cell__ft"></div>
<% end %>
