<%= link_to({ controller: 'auth/my/home' }, text: true, class: 'weui-media-box weui-media-box_appmsg') do %>
  <div class="weui-media-box__hd">
  <% if current_client.organ.logo.attached? %>
    <%= image_tag current_client.organ.logo, class: 'weui-media-box__thumb is-radius image is-64x64' %>
  <% else %>
    <%= image_tag 'default_avatar.jpg', class: 'weui-media-box__thumb is-radius' %>
  <% end %>
  </div>
  <div class="weui-media-box__bd">
    <strong class="weui-media-box__title">
      <span class="weui-badge weui-badge__primary">
        <i class="fa-solid fa-building-user"></i>
        <span><%= current_client.organ.name %></span>
      </span>
      <span class="is-size-0_9"><%= current_user.name %></span>
    </strong>
    <div class="weui-media-box__desc">
      <span class="has-text-weight-normal is-size-7"><%= current_account.identity %></span>
    </div>
  </div>
  <div class="weui-media-box__ft pr-4">
    <i class="fa-solid fa-qrcode"></i>
  </div>
<% end %>
