<tr>
  <td>
    <%= member.id %>
  </td>
  <td><%= member.type %></td>
  <td>
    <p>
    <% if member.user && member.user.avatar.attached? %>
      <%= link_to panel_user_path(member.user&.id) do %>
        <%= image_tag member.user.avatar.variant(resize: '35x35'), class: 'ui avatar image' %>
      <% end %>
    <% end %>
    <%= link_to member.name, panel_member_path(member) %>
    <% if member.enabled %>
      <i class="green check icon"></i>
    <% else %>
      <i class="red times icon"></i>
    <% end %>
    </p>
    <p class="ui labels">
      <% member.roles.pluck(:name).each do |role| %>
        <span class="ui green label"><%= role %></span>
      <% end %>
    </p>
  </td>
  <td><%= member.office&.name %></td>
  <td>
    <% member.member_departments.each do |md| %>
      <div class="ui labels">
        <span class="ui label"><%= link_to md.department.full_name, panel_department_path(md.department_id) %></span>
        <span class="ui label"><%= md.job_title.name %></span>
        <% if md.major %>
        <i class="crosshairs icon"></i>
        <% end %>
      </div>
    <% end %>
  </td>
  <td>
    <p><%= member.identity %></p>
  </td>
  <td><%= member.join_on %></td>
  <td>
    <% if member.profile && member.profile.resume.attached? %>
      <%= link_to member.profile.resume.filename, rails_blob_path(member.profile.resume), target: '_blank' %>
    <% end %>
  </td>
  <td>
    <%= link_to edit_panel_member_path(member), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
      <i class="pencil alternate icon"></i>
    <% end %>
    <%# link_to 'tutorials', panel_tutorials_path(member_id: member.id), class: 'ui mini circular button' %>
  </td>
</tr>

