<tr>
  <td><%= member.id %></td>
  <td>
    <p>
      <% if member.user && member.user.avatar.attached? %>
        <%= link_to admin_user_path(member.user_id) do %>
          <%= image_tag member.user.avatar.variant(resize: '35x35'), class: 'ui avatar image' %>
        <% end %>
      <% end %>
      <%= link_to member.name, panel_member_path(member) %>
    </p>
    <p><span class="ui label"><%= member.type_i18n %></span></p>
  </td>
  <td class="error selectable">
    <table class="ui table">
    <% member.member_departments.each do |md| %>
      <tr>
        <td class="six wide">
          <%= link_to md.department.full_name, panel_department_path(md.department_id) %>
        </td>
        <td class="two wide">
          <%= md.office&.name %>
        </td>
        <td class="three wide">
          <%= md.job_title&.name %>
        </td>
        <td class="two wide">
          <% if md.major %>
            <i class="crosshairs icon"></i>
          <% end %>
        </td>
        <td class="two wide">
          <%= link_to edit_panel_member_member_department_path(member, md), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
          <%= link_to panel_member_member_department_path(member, md), method: :delete, data: { tooltip: t('.destroy') }, remote: true, class: 'ui mini circular icon button' do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
      <tr>
        <td colspan="5">
          <%= link_to new_panel_member_member_department_path(member), remote: true, class: 'ui mini circular icon button' do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </td>
      </tr>
    </table>
  </td>
  <td><%= member.identity %></td>
  <td><%= member.join_on %></td>
  <td>
    <div class="ui labels">
      <% member.roles.pluck(:name).each do |role| %>
        <span class="ui label"><%= role %></span>
      <% end %>
    </div>
    <%= link_to edit_admin_who_roles_path('Member', member.id), remote: true do %>
      <i class="fas fa-user-shield"></i>
    <% end %>
  </td>
  <td>
    <div class="ui toggle checkbox">
      <%= check_box_tag '[member]enabled', nil, member.enabled, data: { method: :patch, remote: true, url: panel_member_path(member), submit: true }, id: nil %>
    </div>
  </td>
  <td>
    <% if member.resume.attached? %>
      <%= link_to member.resume.filename, rails_blob_path(member.resume), target: '_blank' %>
    <% end %>
  </td>
  <td>
    <%= link_to edit_panel_member_path(member), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%# link_to 'tutorials', panel_tutorials_path(member_id: member.id), class: 'ui mini circular button' %>
  </td>
</tr>

