<%= content_for :breadcrumb do %>
<div class="ui basic segment breadcrumb">
  <%= link_to 'Back', panel_members_path, class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section"><%= @member.name %></div>
</div>
<% end %>

<div class="ui top attached tabular menu">
  <%= link_to 'Staff Info', panel_member_path(@member), class: active_helper('org/panel/members': 'show') %>
  <%= link_to 'Profile', profile_panel_member_path(@member), class: active_helper('org/panel/members': 'profile') %>
</div>
