<%= form_with theme: 'modal', model: @member, url: { action: 'update' } do |f| %>
  <%= render 'modal_header' %>
  <div class="modal-card-body">
    <%= render 'error_messages', target: @member %>
    <% @roles.each_with_index do |role, index| %>
      <%= check_box_tag "member[role_whos_attributes][#{index}][role_id]", role.id, @member.role_ids.include?(role.id) %>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>
