<%= search_form_with model: Member.new do |f| %>
  <div class="fields">
    <%= f.text_field :'name-like' %>
    <%= f.text_field :identity %>
    <%= f.submit %>
    <%= link_to t('.clear'), filter_params(except: [:'name-like', :identity]), class: 'ui button' %>
  </div>
<% end %>
<div class="ui divider"></div>
<dl>
  <dt><%= Member.human_attribute_name(:enabled) %>:</dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:enabled]), class: active_params(enabled: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <%= link_to t('.enabled'), filter_params(enabled: 1), class: active_params(enabled: 1, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <%= link_to t('.disabled'), filter_params(enabled: 0), class: active_params(enabled: 0, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
  </dd>
</dl>
<dl>
  <dt><%= Member.human_attribute_name(:office_id) %>:</dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:office_id]), class: active_params(office_id: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% Office.where(default_params).each do |office| %>
      <%= link_to office.name, filter_params(office_id: office.id), class: active_params(office_id: office.id, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
  </dd>
</dl>
