<tr>
  <td><%= Org::Member.human_attribute_name(:leader) %></td>
  <td><%= @member.leader&.name %></td>
</tr>
<tr>
  <td><%= Org::Member.human_attribute_name(:identity) %></td>
  <td><%= @member.identity %></td>
</tr>
<tr>
  <td><%= Org::Member.human_attribute_name(:department) %></td>
  <td>
    <% @member.departments.each do |department| %>
      <p><%= link_to department.full_name, { controller: 'departments', action: 'show', id: department.id } %></p>
    <% end %>
  </td>
</tr>
<tr>
  <td><%= Org::Member.human_attribute_name(:join_on) %></td>
  <td>
  <% if @member.join_on %>
    <span><%= @member.join_on %></span>
  <% else %>
    <time data-controller="time"><%= @member.created_at.to_fs(:iso8601) %></time>
  <% end %>
  </td>
</tr>
