<div>
  <dt><%= Org::Member.human_attribute_name(:leader) %></dt>
  <dd><%= @member.leader&.name %></dd>
</div>
<div>
  <dt><%= Org::Member.human_attribute_name(:identity) %></dt>
  <dd><%= @member.identity %></dd>
</div>
<div>
  <dt><%= Org::Member.human_attribute_name(:department) %></dt>
  <dd>
    <% @member.departments.each do |department| %>
      <p><%= link_to department.full_name, { controller: 'departments', action: 'show', id: department.id } %></p>
    <% end %>
  </dd>
</div>
<div>
  <dt><%= Org::Member.human_attribute_name(:join_on) %></dt>
  <dd>
  <% if @member.join_on %>
    <span><%= @member.join_on %></span>
  <% else %>
    <time data-controller="time"><%= @member.created_at.to_fs(:iso8601) %></time>
  <% end %>
  </dd>
</div>
