<div class="ui top attached menu borderless">
  <div class="header item">
    <div class="ui breadcrumb">
      <% @department.ancestors.reverse.each do |ancestor| %>
        <% if controller_path == 'org/panel/departments' %>
          <%= link_to ancestor.name, { id: ancestor.id }, { class: 'section' } %>
        <% else %>
          <%= link_to ancestor.name, { department_id: ancestor.id }, { class: 'section' } %>
        <% end %>
        <div class="divider">></div>
      <% end %>
      <div class="section"><%= @department.name %></div>
    </div>
  </div>
  <%= link_to 'Members', panel_department_path(@department), class: active_helper('org/panel/departments': ['show']) %>
  
  <%#= link_to 'Job Titles', panel_department_job_titles_path(@department), class: active_helper(controllers: 'job_titles') %>
  <%#= link_to 'JD', panel_department_job_descriptions_path(@department), class: active_helper(controllers: 'job_descriptions') %>
  <%= link_to 'Supports', panel_supports_path(department_id: @department.id), class: active_helper(controllers: 'supports') %>
</div>
