<% if current_user.any_role?('org/admin/departments', 'org/admin/offices') %>
<div class="item">
  <a class="<%= active_helper(controllers: ['offices', 'departments', 'job_descriptions', 'supports'], active_class: 'title active', item_class: 'title') %>">
    <i class="users icon"></i>
    <span>Departments</span>
    <i class="dropdown icon"></i>
  </a>
  <div class="<%= active_helper(controllers: ['offices', 'departments', 'job_descriptions', 'supports'], active_class: 'active menu content', item_class: 'menu content') %>">
    <%= link_to 'Departments', panel_departments_path, class: active_helper(controllers: ['departments', 'job_descriptions']) %>
    <%= link_to 'Offices', panel_offices_path, class: active_helper(controllers: 'offices') %>
    <%= link_to 'Supports', panel_supports_path, class: active_helper(controllers: 'supports') %>
  </div>
</div>
<% end %>

<% if current_user.any_role?('org/admin/members', 'org/admin/tutorials', 'org/admin/job_transfers', 'org/admin/resigns') %>
<div class="item">
  <a class="<%= active_helper(controllers: ['members', 'tutorials', 'job_transfers', 'resigns', 'resign_reasons'], active_class: 'title active', item_class: 'title') %>">
    <i class="user icon"></i>
    <span>HR Management</span>
    <i class="dropdown icon"></i>
  </a>
  <div class="<%= active_helper(controllers: ['members', 'tutorials', 'job_transfers', 'resigns', 'resign_reasons'], active_class: 'menu content active', item_class: 'menu content') %>">
    <%= link_to 'Employees', panel_members_path, class: active_helper(controllers: ['members']) %>
    <%= link_to 'Tutorials', panel_tutorials_path, class: active_helper(controllers: ['tutorials']) %>
    <%= link_to 'Job Transfers', panel_job_transfers_path, class: active_helper(controllers: ['job_transfers']) %>
    <%= link_to 'Resigns', panel_resigns_path, class: active_helper(controllers: ['resigns', 'resign_reasons']) %>
  </div>
</div>
<% end %>
<div class="item">
  <div class="">
    <%= link_to 'all tokens', panel_organ_tokens_path, class: active_helper(controllers: ['organ_tokens']) %>
  </div>
</div>
