<div class="item">
  <span class="header">工作管理</span>
  <div class="menu">
    <%= link_to t('org.my.members.index.title'), my_members_path, class: active_helper(controllers: ['members']) %>
    <%= link_to '我的部门', my_departments_path, class: active_helper(controllers: 'org/my/departments') %>
    <%= link_to 'Job Transfer', my_job_transfers_path, class: active_helper(controllers: ['job_transfers']) %>
    <%= link_to 'Resign', my_resign_path, class: active_helper(controllers: ['resigns']) %>
    <%= link_to 'Tutorials', my_tutorials_path, class: active_helper(controllers: ['tutorials']) %>
  </div>
</div>
<div class="item">
  <span class="header">Utils</span>
  <div class="menu">
    <%= link_to 'Documents', my_documents_path, class: active_helper(controllers: ['documents']) %>
  </div>
</div>
