<div class="ui three cards">
  <% @members.each do |member| %>
  <div class="card">
    <div class="content">
      <div>
        <i class="fas fa-user"></i>
        <span class="ui grey text"><%= member.name %></span>
        <span class="ui green text"><%= member.identity %></span>
      </div>
    </div>
    <div class="extra content">
      <p>
        <span><%= member.organ.address %></span>
        <%= link_to member.organ.name, login_my_member_path(member), method: :patch, remote: true, class: 'ui mini button' %>
        <span><%= member.departments.first&.full_name %></span>
        <%= image_tag member.organ.logo.variant(resize_to_limit: [150, 150]), class: 'right floated mini ui image' if member.organ.logo.attached? %>
      </p>
    </div>
  </div>
  <% end %>
  <div class="card">
    <div class="content">
      <%= link_to new_board_organ_path, aria: { label: t('org.my.organs.new.title') }, remote: true do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
</div>
