<% content_for :nav do %>
  <%= render 'nav_show' %>
<% end %>

<%= render 'department_navbar' %>

<div class="ui segment top attached">
  <%= link_to 'New Job Description', new_panel_department_job_description_path(@department), class: 'ui teal button' %>
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= JobDescription.human_attribute_name(:duties) %></th>
      <th><%= JobDescription.human_attribute_name(:requirements) %></th>
      <th><%= JobDescription.human_attribute_name(:advanced_requirements) %></th>
      <th><%= JobDescription.human_attribute_name(:english_requirement) %></th>
      <th><%= JobDescription.human_attribute_name(:degree_requirement) %></th>
      <th><%= JobDescription.human_attribute_name(:salary_min) %></th>
      <th><%= JobDescription.human_attribute_name(:salary_max) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @job_descriptions.each do |job_description| %>
    <tr>
      <td><%= job_description.duties %></td>
      <td><%= job_description.requirements %></td>
      <td><%= job_description.advanced_requirements %></td>
      <td><%= job_description.english_requirement %></td>
      <td><%= job_description.degree_requirement %></td>
      <td><%= job_description.salary_min %></td>
      <td><%= job_description.salary_max %></td>
      <td class="ui labels">
        <%= link_to t('.edit'), edit_panel_department_job_description_path(@department, job_description), class: 'ui pink label' %>
        <%= link_to t('.destroy'), panel_department_job_description_path(@department, job_description), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
