<%= link_to({ controller: 'trade/my/carts', action: 'list' }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-arrow-right-arrow-left text-primary"></i>
    <span><%= current_client.name %></span>
    <span class="weui-badge"><%= current_client.organ.name %></span>
  </div>
  <div class="media-right">
    <span class="text-grey text-weight-normal">切换</span>
  </div>
<% end %>
<%= link_to({ controller: 'org/me/members', action: 'show', host: current_client.organ.host, auth_token: current_account.auth_token }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-user text-primary"></i>
    <span><%= t('org.me.members.show.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
<%= link_to({ controller: 'org/me/members', action: 'qrcodes', host: current_client.organ.host, auth_token: current_account.auth_token }, class: 'media') do %>
  <div class="media-content">
    <i class="fa-solid fa-fw fa-qrcode text-primary"></i>
    <span><%= t('org.me.members.qrcodes.title') %></span>
  </div>
  <div class="media-right">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
<% end %>
