<th><%= Member.human_attribute_name(:name) %></th>
<th><%= Member.human_attribute_name(:identity) %></th>
<th><%= Member.human_attribute_name(:job_titles) %></th>
<th><%= Member.human_attribute_name(:join_on) %></th>
<th>
  <%= link_to({ controller: 'members', action: 'new', department_id: @department.id }, class: 'button is-link is-small') do %>
    <i class="fa-solid fa-plus"></i><span><%= t('.new.title') %></span>
  <% end %>
</th>
