<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_panel_member_department_path(@member_department), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= MemberDepartment.human_attribute_name(:office_id) %></td>
      <td><%= @member_department.office_id %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= MemberDepartment.human_attribute_name(:job_title_id) %></td>
      <td><%= @member_department.job_title_id %></td>
    </tr>
  </tbody>
</table>
