<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= OrganHandle.human_attribute_name(:name) %></th>
      <th><%= OrganHandle.human_attribute_name(:description) %></th>
      <th><%= DepartmentGrant.human_attribute_name(:job_title_id) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @organ_handles.each do |organ_handle| %>
    <tr>
      <td><%= organ_handle.name %></td>
      <td><%= organ_handle.description %></td>
      <td class="ui labels">
        <% organ_handle.department_grants.where(default_params).includes(:job_title).each do |department_grant| %>
          <span class="ui label">
            <%= department_grant.job_title.name %>
            <%= link_to admin_organ_handle_department_grant_path(organ_handle, department_grant), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </span>
        <% end %>
      </td>
      <td>
        <%= link_to new_admin_organ_handle_department_grant_path(organ_handle), remote: true, class: 'ui mini green button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @organ_handles %>
