<% if current_organ %>
  <%= link_to filter_params(organ_id: ''), class: 'navbar-item' do %>
    <%= image_pack_tag 'logo.jpg', class: 'image is-24x24' %>
  <% end %>
  <%= link_to filter_params(organ_id: current_organ.id), class: active_params(organ_id: current_organ.id) do %>
    <%= image_tag current_organ.logo, class: 'image is-24x24' %>
    <span><%= current_organ.name %></span>
  <% end %>
  <div class="navbar-item">
    <% if current_organ.children.count > 0 %>
      <%= render partial: 'application/outer_search_options', locals: { node: current_organ.children.first } %>
    <% end %>
  </div>
<% else %>
  <%= link_to index_path, class: 'navbar-item' do %>
    <%= image_pack_tag 'logo.jpg', class: 'image is-24x24' %>
  <% end %>
<% end %>
