<div class="weui-panel">
  <div class="weui-panel__hd is-several">
    <%= image_tag model[0].logo.variant(resize_to_limit: [150, 150]), class: 'image is-24x24' if model[0].logo.attached? %>
    <span><%= model[0].name %></span>
  </div>
  <div class="weui-panel__bd">
    <% model[1].each do |member| %>
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <div class="weui-cell weui-cell_access">
            <div class="weui-cell__hd">
              <%= image_tag member.avatar.variant(resize_to_limit: [150, 150]), class: 'image is-48x48' if member.avatar.attached? %>
            </div>
            <div class="weui-cell__bd">
              <span><%= member.departments.first&.full_name %></span>
              <span class="is-size-7"><%= member.identity %></span>
            </div>
            <div class="weui-cell__ft">
              <%= link_to '工作台', { controller: '/me/home', **model[0].url_options }, class: 'card-footer-item' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
