<% Roled::OrganRole.visible.each do |role| %>
  <%= link_to role.name, { controller: 'org/board/organs', action: 'new', role_id: role.id }, class: active_helper(controller: 'org/board/organs', action: 'new', role_id: role.id, check_parameters: true, active: 'navbar-item is-active', item: 'navbar-item') %>
<% end %>
<div class="navbar-item has-dropdown is-hoverable is-hidden-touch">
  <div class="navbar-link">
    <%= image_tag current_organ.logo if current_organ && current_organ.logo.attached? %>
    <span><%= current_organ.present? ? current_organ.name : t('.title') %></span>
  </div>
  <div class="navbar-dropdown is-right">
    <div class="navbar-item">
      <%= image_tag current_member.avatar if current_member && current_member.avatar.attached? %>
      <span><%= current_account.identity %></span>
    </div>
    <div class="navbar-divider"></div>
    <% current_account.organs.includes(:organ_domains).each do |organ| %>
      <%= link_to({ controller: '/me/home', disposable_token: current_account.once_token, **organ.url_options }, class: active_helper(id: 'organs', active: 'navbar-item is-active', item: 'navbar-item')) do %>
        <span><%= organ.name %></span>
      <% end %>
    <% end %>
  </div>
</div>
