<div class="navbar-item has-dropdown is-hoverable is-hidden-touch">
  <div class="navbar-link">
    <%= image_tag current_member.avatar if current_member && current_member.avatar.attached? %>
    <span><%= t('.title') %></span>
  </div>
  <div class="navbar-dropdown is-right">
    <div class="navbar-item">
      <%= current_account.identity %>
    </div>
    <div class="navbar-divider"></div>
    <% current_account.organs.each do |organ| %>
      <%= link_to({ controller: '/me/home', **organ.url_options }, class: active_helper(id: 'organs', active: 'navbar-item is-active', item: 'navbar-item')) do %>
        <span><%= organ.name %></span>
      <% end %>
    <% end %>
    <div class="navbar-divider"></div>
    <%= link_to t('org.board.organs.new.title'), { controller: 'org/board/organs', action: 'new' }, data: { turbo_frame: 'modal' }, class: active_helper(organs: ['new'], active: 'navbar-item is-active', item: 'navbar-item') %>
  </div>
</div>
