<div class="navbar-item has-dropdown is-hoverable is-hidden-touch">
  <div class="navbar-link">
    <%= image_tag current_organ.logo if current_organ && current_organ.logo.attached? %>
    <span><%= current_organ.present? ? current_organ.name : t('.title') %></span>
  </div>
  <div class="navbar-dropdown is-right">
    <div class="navbar-item">
      <%= image_tag current_member.avatar if current_member && current_member.avatar.attached? %>
      <span><%= current_member&.name %></span>
    </div>
    <div class="navbar-divider"></div>
    <% current_user.organs.includes(:organ_domains).each do |organ| %>
      <%= link_to({ controller: '/me/home', auth_token: current_authorized_token.id, **organ.admin_url_options(request) }, class: active_helper(id: 'organs', active: 'navbar-item is-active', item: 'navbar-item')) do %>
        <span><%= organ.name %></span>
      <% end %>
    <% end %>
  </div>
</div>
