<%= form_with model: [:hr, @interviewee], local: true do |f| %>
  <%= render 'shared/error_messages', target: @interviewee %>
  <%= f.text_field :name, required: true%>
  <%= f.text_field :chinese_name %>
  <div class="inline fields">
    <%= f.radio_button :gender, 'male' %>
    <%= f.radio_button :gender, 'female', label: false %>
  </div>
  <%= f.select :state, options_for_select(Interviewee.options_i18n(:state), @interviewee.state) %>
  <%= f.collection_select :office_id, Office.all, :id, :name, prompt: true, required: true %>
  <%= f.collection_select :department_id, Department.find_all_by_generation(1), :id, :name, prompt: true, required: true %>
  <%= f.select :position, options_for_select(Interviewee::POSITIONS, @interviewee.position), prompt: true %>
  <%= f.text_field :contact %>
  <%= f.email_field :email %>
  <%= f.email_field :private_email, required: true %>
  <%= f.text_field :university %>
  <%= f.text_field :major %>
  <%= f.text_field :degree %>
  <%= f.datetime_field :interview_time %>
  <%= f.datetime_field :training_begin %>
  <%= f.datetime_field :training_end %>
  <%= f.date_field :join_date %>
  <%= f.text_field :channel %>
  <%= f.text_area :note %>
  <%= f.submit :Submit %>
<% end %>
