<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_interviewees_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Show</div>
</div>

<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="three wide"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned">Name</td>
      <td><%= @interviewee.name %></td>
    </tr>
    <tr>
      <td class="right aligned">Chinese name</td>
      <td><%= @interviewee.chinese_name %></td>
    </tr>
    <tr>
      <td class="right aligned">Gender</td>
      <td><%= @interviewee.gender %></td>
    </tr>
    <tr>
      <td class="right aligned">Office</td>
      <td><%= @interviewee.office&.name %></td>
    </tr>
    <tr>
      <td class="right aligned">Section</td>
      <td><%= @interviewee.department&.full_name %></td>
    </tr>
    <tr>
      <td class="right aligned">State</td>
      <td><%= @interviewee.state %></td>
    </tr>
    <tr>
      <td class="right aligned">position</td>
      <td><%= @interviewee.position %></td>
    </tr>
    <tr>
      <td class="right aligned">Email</td>
      <td><%= @interviewee.email %></td>
    </tr>
    <tr>
      <td class="right aligned">private_email</td>
      <td><%= @interviewee.private_email %></td>
    </tr>
    <tr>
      <td class="right aligned">Contact</td>
      <td><%= @interviewee.contact %></td>
    </tr>
    <tr>
      <td class="right aligned">University</td>
      <td><%= @interviewee.university %></td>
    </tr>
    <tr>
      <td class="right aligned">Major</td>
      <td><%= @interviewee.major %></td>
    </tr>
    <tr>
      <td class="right aligned">Degree</td>
      <td><%= @interviewee.contact %></td>
    </tr>
    <tr>
      <td class="right aligned">Training begin</td>
      <td><time><%= @interviewee.training_begin %></time></td>
    </tr>
    <tr>
      <td class="right aligned">Join date</td>
      <td><time><%= @interviewee.join_date %></time></td>
    </tr>
    <tr>
      <td class="right aligned">Note</td>
      <td><%= @interviewee.note %></td>
    </tr>
    <tr>
      <td class="right aligned">Channel</td>
      <td><%= @interviewee.channel %></td>
    </tr>
    <tr>
      <td class="right aligned">By</td>
      <td><%= @interviewee.member.name %></td>
    </tr>
    <tr>
      <td class="right aligned">Interview Time</td>
      <td><time><%= @interviewee.interview_time %></time></td>
    </tr>
    <tr>
      <td class="right aligned">Created at</td>
      <td><time><%= @interviewee.created_at&.to_s(:rfc822) %></time></td>
    </tr>
    <tr>
      <td class="right aligned">Updated at</td>
      <td><time><%= @interviewee.updated_at&.to_s(:rfc822) %></time></td>
    </tr>
    <tr>
      <td></td>
      <td><%= link_to 'Edit', edit_admin_interviewee_path(@interviewee), class: 'ui pink label' %></td>
    </tr>
  </tbody>
</table>
