<div class="weui-panel is-box is-borderless mt-3">
  <div class="weui-panel__bd">
    <%= render 'profile_item' %>
  </div>
  <div class="weui-panel__ft">
    <%= render 'cart_column' %>
  </div>
</div>

<div class="weui-panel is-box is-borderless">
  <div class="weui-panel__bd">
    <div class="weui-cells">
      <%= render 'client_item' %>
    </div>
  </div>
</div>

<div class="weui-panel is-box is-borderless">
  <div class="weui-panel__bd">
    <div class="weui-cells">
      <%= render 'org_item' %>
    </div>
  </div>
</div>

<div class="weui-panel is-box is-borderless">
  <div class="weui-panel__bd">
    <div class="weui-cells">
      <%= render 'trade_item' %>
    </div>
  </div>
</div>

<%= render 'powered_by' %>
