<%= render 'layouts/topbar' %>
<div class="content-breadcrumb-section">
  <%= render 'layouts/breadcrumb' %>
</div>

<div class="ui attached segment">
  <%= render 'search_form' %>
  <%= render 'right_menu_table_tool'%>
</div>

<%= render 'list' %>

<%= paginate @tutorials %>

