<tr data-depth="<%= department.depth_str %>" style="display: <%= display %>">
  <td>
    <span style="width: <%= department.depth * 1.43 %>em; display: inline-block;"></span>
    <% if department.leaf? %>
      <i class="fas fa-fw fa-minus"></i>
    <% else %>
      <i class="fas fa-fw fa-caret-right" data-action="click->tree#expand" style="cursor: pointer;"></i>
    <% end %>
    <%= link_to admin_department_path(department) do %>
      <span><%= department.name %></span>
      <span class="has-text-grey">(<%= department.all_member_departments_count %>)</span>
    <% end %>
  </td>
  <td>
    <%= department.needed_number %> /
    <span class="<%= active_asserts('red': department.needed_number.to_i > department.member_departments_count, 'grey': department.needed_number.to_i == department.member_departments_count, 'green': department.needed_number.to_i < department.member_departments_count) %> text">
      <%= department.member_departments_count %>
    </span>
  </td>
  <td>
    <% department.job_titles.each do |job_title| %>
      <div class="button is-small is-light" aria-label="<%= job_title.grade %>"><%= job_title.name %></div>
    <% end %>
    <%= link_to admin_department_job_titles_path(department), aria: { label: t('.job_title') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-user-tag"></i>
    <% end %>
  </td>
  <td>
    <% department.super_job_titles.each do |super_job_title| %>
      <div class="button is-small is-light" aria-label="<%= super_job_title.grade %>"><%= super_job_title.name %></div>
    <% end %>
    <%= link_to super_job_titles_admin_department_path(department), aria: { label: t('.job_title') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-user-tag"></i>
    <% end %>
  </td>
  <td>
    <%= link_to department.leader.name, admin_member_path(department.leader.id), remote: true if department.leader %>
  </td>
  <td>
    <%= link_to new_admin_department_path(parent_id: department.id), aria: { label: '添加下级' }, remote: true, class: 'button is-link is-small' do %>
      <i class="fas fa-plus"></i>
    <% end %>
    <%= link_to admin_department_path(department), aria: { label: t('.show') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-users"></i>
    <% end %>
    <%#= link_to 'JD', admin_department_job_descriptions_path(department), class: 'button is-small is-rounded is-light' %>
    <%= link_to edit_admin_department_path(department), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to admin_department_path(department), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
