<tr data-depth="<%= department.depth_str %>" style="display: <%= display %>">
  <td>
    <span style="width: <%= department.depth * 1.43 %>em; display: inline-block;"></span>
    <% if department.leaf? %>
      <i class="fas fa-minus fa-fw grey icon"></i>
    <% else %>
      <i class="fas fa-caret-right fa-fw grey link icon"></i>
    <% end %>
    <%= link_to admin_department_path(department) do %>
      <span><%= department.name %></span>
      <span class="grey text">(<%= department.all_member_departments_count %>)</span>
    <% end %>
  </td>
  <td>
    <%= department.needed_number %> /
    <span class="<%= active_asserts('red': department.needed_number.to_i > department.member_departments_count, 'grey': department.needed_number.to_i == department.member_departments_count, 'green': department.needed_number.to_i < department.member_departments_count) %> text">
      <%= department.member_departments_count %>
    </span>
  </td>
  <td class="ui labels">
    <% department.job_titles.each do |job_title| %>
      <div class="ui label" data-tooltip="<%= job_title.grade %>"><%= job_title.name %></div>
    <% end %>
    <%= link_to admin_job_titles_path(department_id: department.id), data: { tooltip: t('.job_title') }, class: 'ui circular mini icon button' do %>
      <i class="fas fa-user-tag"></i>
    <% end %>
  </td>
  <td><%= department.leader&.name %></td>
  <td>
    <%= link_to admin_department_path(department), data: { tooltip: t('.show') }, class: 'ui circular mini icon button' do %>
      <i class="fas fa-users"></i>
    <% end %>
    <%#= link_to 'JD', admin_department_job_descriptions_path(department), class: 'ui circular mini icon button' %>
    <%= link_to edit_admin_department_path(department), data: { tooltip: t('.edit') }, class: 'ui circular mini icon button', remote: true do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to admin_department_path(department), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui circular mini icon button' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
