<tr data-depth="<%= node.depth_str %>">
  <td>
    <span><%= ('&emsp;' * node.depth * 2).html_safe %></span>
    <% unless node.leaf? %>
      <a onclick="collapse(this)" href="javascript:void(0)"><i class="grey caret down icon"></i></a>
    <% end %>
    <%= link_to admin_department_path(node) do %>
      <span><%= node.name %></span>
      <span class="grey text">(<%= node.all_members_count %>)</span>
    <% end %>
  </td>
  <td><%= node.offices.map { |i| i.name }.join(', ') %></td>
  <td><%= node.leader&.name %></td>
  <% Department::SUPPORTS.each do |kind| %>
    <td><%= node.public_send(kind)&.name %></td>
  <% end %>
  <td class="ui labels">
    <%= link_to 'Supports', admin_supports_path(department_id: node.id), class: 'ui yellow label' %>
    <%= link_to edit_admin_department_path(node), class: 'ui pink mini icon button' do %>
      <i class="fa-regular fa-pencil"></i>
    <% end %>
    <%= link_to admin_department_path(node), method: :delete, data: {confirm: t('.confirm')}, class: 'ui red mini icon button' do %>
      <i class="times icon"></i>
    <% end %>
  </td>
</tr>
