<%= form_with theme: 'search', model: Department.new(params.permit(:name)) do |f| %>
  <div class="field-body">
    <%= f.text_field :name %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: [:name]), class: 'button is-light' %>
    </div>
  </div>
<% end %>
<div class="ui divider"></div>
<dl>
  <dt><%= Department.human_attribute_name(:type) %></dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:type]), class: active_params(type: '', active_class: 'button is-info', item_class: 'button is-light') %>
    <% Department.options_i18n(:type).each do |text, value| %>
      <%= link_to text, filter_params(type: value), class: active_params(type: value, active_class: 'button is-info', item_class: 'button is-light') %>
    <% end %>
  </dd>
</dl>
