<%= search_form_with model: Department.new do |f| %>
  <div class="fields">
    <%= f.text_field :name %>
    <%= f.submit 'Search' %>
  </div>
<% end %>

<dl>
  <dt>Type:</dt>
  <dd>
    <%= link_to 'All', filter_params(except: [:type]), class: active_params(type: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% Department.options_i18n(:type).each do |text, value| %>
      <%= link_to text, filter_params(type: value), class: active_params(type: value, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
  </dd>
</dl>
