<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= Department.human_attribute_name(:name) %></th>
      <th>
        <%= Department.human_attribute_name(:needed_number) %>
        <span class="grey text">/</span>
        <%= Department.human_attribute_name(:members_count) %>
      </th>
      <th>
        <%= Department.human_attribute_name(:job_titles) %>
        <%= link_to admin_super_job_titles_path, data: { tooltip: '不限部门职级' } do %>
          <i class="fas fa-cog"></i>
        <% end %>
      </th>
      <th><%= Department.human_attribute_name(:leader) %></th>
      <th>
        <%= link_to new_admin_department_path, remote: true, class: 'ui mini primary button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @departments.each do |department| %>
    <%= render partial: 'department', object: department, locals: { display: 'table-row' } %>
    <%= draw_tree(partial: 'org/admin/departments/department', object: department, locals: { display: 'none' }) %>
  <% end %>
  </tbody>
</table>

<%= paginate @departments %>
