<%= content_for :breadcrumb do %>
<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('org.admin.departments.index.title'), admin_departments_path %></li>
    <% @department.ancestors.reverse.each do |ancestor| %>
      <li><%= link_to ancestor.name, { action: 'show', id: ancestor.id } %></li>
    <% end %>
    <li class="is-active"><%= @department.name %></li>
  </ul>
</div>
<% end %>

<%= render 'filter_form' %>
<%= render 'filter_table' %>

<div class="columns">
  <div class="column">
    <table class="table is-hoverable is-fullwidth">
      <thead>
      <tr>
        <th><%= Member.human_attribute_name(:name) %></th>
        <th><%= Member.human_attribute_name(:identity) %></th>
        <th><%= Member.human_attribute_name(:job_titles) %></th>
        <th><%= Member.human_attribute_name(:join_on) %></th>
        <th>
          <%= link_to new_admin_member_path(department_id: @department.id), remote: true, class: 'button is-link is-small' do %>
            <i class="fas fa-plus"></i><%= t('.new') %>
          <% end %>
        </th>
      </tr>
      </thead>
    
      <tbody>
      <% @members.each do |member| %>
        <%= render partial: 'member', locals: { member: member } %>
      <% end %>
      </tbody>
    </table>
  
    <%= paginate @members %>
  </div>
  <div class="column is-narrow">
    <%= render 'nav_show' %>
  </div>
</div>
