<%= render 'tabs' %>

<div class="ui attached segment">
</div>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= RecruitmentPlan.human_attribute_name(:id) %></th>
      <th><%= RecruitmentPlan.human_attribute_name(:journal) %></th>
      <th><%= RecruitmentPlan.human_attribute_name(:ae_count) %></th>
      <th><%= RecruitmentPlan.human_attribute_name(:me_count) %></th>
      <th><%= RecruitmentPlan.human_attribute_name(:state) %></th>
      <th><%= RecruitmentPlan.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @recruitment_plans.each do |recruitment_plan| %>
    <tr>
      <td><%= recruitment_plan.id %></td>
      <td><%= recruitment_plan.journal.name_short %></td>
      <td><%= recruitment_plan.ae_count %></td>
      <td><%= recruitment_plan.me_count %></td>
      <td>
        <% if recruitment_plan.init? && recruitment_plan.rejected %>
          <span class="ui label">Rejected</span>
        <% else %>
          <span class="ui label"><%= recruitment_plan.state_i18n %></span>
        <% end %>
      </td>
      <td><%= recruitment_plan.created_at %></td>
      <td>
        <% if recruitment_plan.init? && recruitment_plan.rejected %>
          <%= link_to 'Comment', comment_my_recruitment_plan_path(recruitment_plan), method: :patch,  remote: true, class: 'ui green label' %>
          <%= link_to 'Edit', edit_my_recruitment_plan_path(recruitment_plan), class: 'ui pink label' %>
          <%= link_to 'Delete', my_recruitment_plan_path(recruitment_plan), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
          <%= link_to 'Repropose', repropose_my_recruitment_plan_path(recruitment_plan), method: :patch, remote: true, class: 'ui blue label' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @recruitment_plans %>
