<%= link_to({ controller: 'auth/my/home' }, text: true, class: 'weui-media-box weui-media-box_appmsg') do %>
  <div class="weui-media-box__hd">
  <% if current_user.avatar.attached? %>
    <%= image_tag current_user.avatar, class: 'weui-media-box__thumb is-radius' %>
  <% elsif current_user.name.present? %>
    <div class="is-avatar">
      <div class="text"><%= current_user.name[0] %></div>
    </div>
  <% else %>
    <%= image_tag 'default_avatar.jpg', class: 'weui-media-box__thumb is-radius' %>
  <% end %>
  </div>
  <div class="weui-media-box__bd">
    <strong class="weui-media-box__title">
      <span><%= current_user.name %></span>
    </strong>
    <div class="weui-media-box__desc">
      <span class="has-text-weight-normal is-size-7"><%= current_account.identity %></span>
    </div>
  </div>
  <div class="weui-media-box__ft pr-4">
    <i class="fa-solid fa-qrcode"></i>
  </div>
<% end %>
