<div class="right menu">
  <% unless Rails.env.production? %>
    <%= render partial: 'shared/locales' %>
  <% end %>
  <%= render partial: 'rails_notice/link' %>
  <% if current_user&.member %>
    <div class="ui simple dropdown item">
      Panel
      <i class="dropdown icon"></i>
      <div class="menu">
        <%= link_to 'HRMS', '/hr', class: 'item' %>
        <%= link_to 'Train', '/train', class: 'item' %>
        <%= link_to 'Finance', '/finance', class: 'item' %>
        <%= link_to 'Admin', '/admin', class: 'item' %>
      </div>
    </div>
  <% end %>
  <% if current_user %>
    <div class="ui simple dropdown item" id="navbar_dropdown">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar.variant(resize: '28x28'), class: 'ui avatar image' %>
      <% else %>
        <%= image_tag 'default_avatar.jpg', size: '28x28', class: 'ui avatar image' %>
      <% end %>
      <%= current_user.name %>
      <i class="dropdown icon"></i>
      <div class="menu">
        <%= link_to 'Profile', '/my/user', class: active_helper(controllers: ['profile']) %>
        <%= link_to 'Logout', logout_path, class: 'item' %>
      </div>
    </div>
  <% else %>
    <%= link_to login_path, class: 'item' do %>
      <i class="icon-user"></i> Login/Join
    <% end %>
  <% end %>
</div>
